.jumbotron {
     position: relative;
     height: 270px;
     padding: 5px;
     margin-bottom: 20px;
     font-size: 10px;
     font-weight: 200;
     line-height: 2.1428571435;
     background: none;
     border: 1px solid #eee;
 }
 .jumbotron:after {
     content:"";
     background: url("../assets/images/ecommerce.png");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
 }

.jumbotron1 {
    position: relative;
    height: 270px;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 10px;
    font-weight: 200;
    line-height: 2.1428571435;
    background: none;
    border: 1px solid #eee;
}

.jumbotron1:after {
    content:"";
    background: url("../assets/images/unit1TOP.png");
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

 .jumbotron2 {
     position: relative;
     height: 270px;
     padding: 5px;
     margin-bottom: 20px;
     font-size: 10px;
     font-weight: 200;
     line-height: 2.1428571435;
     background: none;
     border: 1px solid #eee;
 }

.jumbotron2:after {
    content:"";
    background: url("../assets/images/unit2TOP.png");
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
}

.jumbotron3 {
    position: relative;
    height: 270px;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 10px;
    font-weight: 200;
    line-height: 2.1428571435;
    background: none;
    border: 1px solid #eee;
}

.jumbotron3:after {
    content:"";
    background: url("../assets/images/SEO.png");
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

 .jumbotronAbout {
     position: relative;
     background: none;
     height: 270px;
     padding: 5px;
     margin-bottom: 20px;
     font-size: 10px;
     font-weight: 200;
     line-height: 2.1428571435;
 }

 .jumbotronAbout:after {
     content:"";
     background: url("../assets/images/contacto.jpg");
     background-repeat: no-repeat;
     background-position: center;
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
 }