<div class="jumbotron3">

</div>
<div class="container">
    <div class="page-header">
        <h1>Posicionamiento SEO</h1>
        <p class="text-justify">
            En esta sección trataremos las cuestiones relacionadas acerca del posicionamiento SEO y de las técnicas, herramientas y trucos que se usan
            a día de hoy para mejorar la visibilidad de nuestro sitio y aumentar el tráfico que tenemos en ella.
        </p>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>1. Situación en España</h1>
            <p class="text-justify">
                Actualmente en España, Google puede acaparar el 98% de las búsquedas que un usuario hace en la red. No estar bien posicionado puede suponer un pérdida
                de oportunidades enorme.
                <br>
                <br>
                El algortimo de posicionamiento de Google cmabia constantemente y evoluciona muy rápido hacia un modelo donde lo social y la interacción con sus servicios
                ganan importancia día a día (Google+, Youtube, Google Places, Grafo del conocimiento, etc.) Estar al día de los cambios, de las oportunidades nuevas, de
                la tendencia del mercado nos ayuda a crear estrategias SEO que permita a nuestros clientes crecer continuamente y mejorar día a día en tráfico y ventas.
                <br>
                <br>
                Estrategias innovadoras de Marketing Online que ayuden a mejorar con cada cambio de algoritmo y mejoren con el tiempo, obteniendo un mayor volumen de tráfico
                cualificado.
            </p>
        </div>
        <div class="col-md-4">
            <p align="center"><img src="assets/images/googleSpain.png" class="img-responsive" alt="Google Spain"></p>
            <p align="center">Fig. 1 - Google Spain</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h1>2. Por qué Google</h1>
            <p class="text-justify">
                A nivel español, Google es <b>el buscador</b>, a nivel de posicionamiento web y si el mercado está enfocado en España no vale la pena dedicarle horas
                a mirarse otro.
            </p>
            <p class="text-justify">
                Es muy importante estar en primeras posiciones de Google ya que puede ser la diferencia entre hacer que un proyecto venda o no, aunque el aspecto importante
                de esto es que no se debe estar en las primeras posiciones por las buenas, si no que sea debido a que la elección de palabras clave sea la adecuada para aportar
                <b>ventas.</b> De nada sirve aparecer en las primeras posiciones de venta de coches si tu comercio o negocio se dedica a la venta de mubles, por ejemplo.
                <br>
                <br>
                La auditoría SEO es el paso previo a cualquier campaña de marketing que se inicie y en ella se determina donde está el nicho.
            </p>
            <h2>2.1 Proceso del posicionamiento web</h2>
            <p class="text-justify">
                El posicionamiento web en buscadores es parte integrante del plan de marketing online y no se ha de entender como un actividad de la que no hay que tener en
                cuenta hasta que se ha creado el portal web y se haya dispuesto todo para la venta de productos pues de esta manera, estaría abocada al fracaso. La definición
                de la estrategia de posicionamiento web ha de ser única para cada caso pues el mercado, los competidores y la fortaleza y debilidades de la empresa así lo son.
            </p>

            <h2>2.2 Claves para el posicionamiento Web</h2>
            <p class="text-justify">
                A continuación se han seleccionado una serie de aspectos cruciales a la hora de idear una estrategia de posicionamiento web en la que se trata
                desde las palabras claves que podemos encontrar en los parráfos de nuestro sitio web hasta que herramientas se usan para optimizarla.
            </p>
            <h3>2.2.3 Contenido de valor</h3>
            <p class="text-justify">
                El contenido se podria dividir en 2 tipos, el contenido <b>de valor</b> y el contenido <b>comercial</b>. El contenido comercial es a lo que nos referimos
                acerca de la parte de mercado: catalogos, productos, servicios, la historia de la empresa, etc. pero esto no es lo que va a hacer en la mayoría de los casos
                que los usuarios se queden en tu página. Pongamos un ejemplo, ¿que se comparte en las redes sociales?¿Qué colocarías en un blog, las características de un producto
                o las opiniones y críticas de ese producto?
                <br>
                <br>
                Es algo sencillo que puedes comprobar a hacer cualquier búsqueda en Google, la mayoría de resultados que obtendrás serán de comunidades y foros en los que la gente
                pregunta acerca de un producto o servicio que están interesados en comprar.
            </p>

            <p align="center"><img src="assets/images/contentValue.png" class="img-responsive" alt="Contenidos de Valor"></p>
            <p align="center">Fig. 2 - Contenidos de valor (Fuente: www.vgsystems.es) </p>

            <p class="text-justify">
                Hay que centrarse primero en colocar algunas en posicionar algunas páginas con contenido de valor, como por ejemplo blogs o foros en los que se discutan
                los aspectos de lo que estemos vendiendo. Por ejemplo en que debo fijarme para contratar un plan de servicio de backup en la nube, que es lo que el usuario
                en cuestión necesita según sus expectativas.
                <br>
                <br>
                Lo mejor es crear comunidad en redes sociales para posicionar en buscadores el contenido de valor.
            </p>
            <p class="text-justify">
                Pero y este contenido de valor que va a hacer aumentar el tráfico en mi web, ¿cómo lo colocó en el sitio?¿Debo poner mucho o poco? La respuesta es cuanto más, mejor.
                Hay que aportar el máximo de valor posible para resolver el tema que se plantea.
                <br>
                <br>
                Aunque sin pasarse, hay que ser moderado con la cantidad de información con la que bombardeamos las redes sociales porque puede llegar el momento en el que saturemos a los
                usuarios y dejen de mostrar su interés, <b>calidad antes que cantidad</b>. Dedicale un poco más de tiempo a los contenidos que ya tengas para aprovechar al máximo su potencial.
                <br>
                <br>
                En esta categoria de malas prácticas que hay que evitar es el contenido repetitivo y reduntante.
            </p>

            <h3>2.2.4 Las redes sociales</h3>
            <p class="text-justify">
                Las redes sociales son protagonistas en el posicionamiento SEO. El objetivo es fomentar que los lectores compartan tus contenidos; hay que vincular el mundo
                offline de la empresa con el online y tienes que cuidar a tus embajadores para que participen de la manera más activa posible en los contenidos ya sea opinando,
                encuestas, foros, etc.
                <br>
                <br>
                El objetivo es aumentar las visitas a nuestra web y, por tanto, mejorar el ROI a través de un aumento de ventas directas de nuestro eCommerce. Optimizar los contenidos
                según las tendencias es una máxima desde e inicio del SEO, el crecimiento de las redes sociales puede influir tanto en el posicionamiento SEO que se debe
                prestar una especial atención y exprimir su potencial a nuestro favor.
            </p>
            <p class="text-justify">
                Para optimizar el posicionamiento SEO a través de las redes sociales hay tres pasos previos que realizar:
                <ul>
                    <li>Crea y construye una <b>audiencia de calidad</b>, interactúa con ellos, son tus clientes, saben lo que les gusta y debes saber que esperan de tu producto.</li>
                    <li><b>Analiza las tendencias.</b> Si sabes de que hablan tus clientes y los de tu competencia, sabrás que publicar para atraerles.</li>
                    <li><b>El orden de los factores no altera el resultado.</b> Hay que tener en cuenta los 4 grandes de las redes sociales ya que son los que copan
                    la mayoría del tráfico de este tipo.</li>
                </ul>
            </p>
            <h4>Google+</h4>
            <p class="text-justify">
                Es la que más valor aporta al SEO, ya que el algoritmo de Google valora muy bien la integración de su propia red social en nuestra propia web.
                <ul>
                    <li>Aprovecha el Posicionamiento SEO en Google, debes aportar contenidos en su propia plataforma.</li>
                    <li>Google+ mejora el Pagerank de tu Web.</li>
                    <li>Google+ Authorship Markup. La marca de autor y la autenticidad de los contenidos es vital para el posicionamiento SEO.</li>
                    <li>El algoritmo Google Hummingbird trajo un cambio total en la propia filosofía de Google, aportando mayor importancia a los marcadores sociales.</li>
                </ul>

                <p align="center"><img src="assets/images/google-plus-logo.png" class="img-responsive" alt="Google Plus"></p>
                <p align="center">Fig. 3 - Google Plus (Fuente: www.google.es)</p>

            </p>

            <h4>Facebook</h4>
            <p class="text-justify">
            <ul>
                <li>Más de 1.000 millones de clientes están a tu alcance.</li>
                <li>Integra botones sociales de Facebook en tu web.</li>
                <li>Crea anuncios patrocinados. Aumenta tu audiencia.</li>
                <li>Genera contenidos del interés de tu audiencia.</li>
                <li>Integra aplicaciones, un booking engine en tu pagina de Facebook.</li>
            </ul>

            <p align="center"><img src="assets/images/Facebook512.png" class="img-responsive" alt="Facebook"></p>
            <p align="center">Fig. 3 - Facebook (Fuente: www.facebook.es)</p>

            </p>

            <h4>Twitter</h4>
            <p class="text-justify">
                La inmediatez y la capacidad de comunicarse con una gran audiencia asi como la capacidad de interactuar con usuarios, son cualidades únicas de Twitter.

            <ul>
                <li>Integra botones sociales de Twitter en tu web.</li>
                <li>Tuitea links a tu web.</li>
                <li>Crea #Hashtags.</li>
                <li>Retuitea contenidos de interés para tu audiencia.</li>
                <li>El tamaño no es lo más importante. El numero de followers esta bien, pero no es lo más importante.</li>
            </ul>

            <p align="center"><img src="assets/images/twitter.png" class="img-responsive" alt="Twitter"></p>
            <p align="center">Fig. 4 - Twitter (Fuente: www.twitter.es)</p>

            </p>

            <h4>LinkedIn</h4>
            <p class="text-justify">
                La red social profesional por excelencia es una gran oportunidad.
            <ul>
                <li>Integra botones sociales de LinkedIn en tu web.</li>
                <li>Publica productos, servicios y novedades.</li>
                <li>Crea grupos de interés para tus clientes.</li>
                <li>Publica ofertas laborales en tu perfil de empresa.</li>
            </ul>

            <p align="center"><img src="assets/images/linkedIn.png" class="img-responsive" alt="LinkedIn"></p>
            <p align="center">Fig. 5 - LinkedIn (Fuente: https://brand.linkedin.com/downloads#logos)</p>

            </p>

            <h3>2.2.5 Aportar más valor</h3>
            <p class="text-justify">
                <ul>
                    <li>Contactar otras personas, especialistas o blogueros para que participen en el desarrollo del contenido y aporten su punto de vista.</li>
                    <li>Puedes lanzar una pregunta en redes sociales y mostrar las respuestas. También puedes buscar tweets relacionados con el tema e insertar aquellos que aporten valor al artículo</li>
                    <li>Puedes buscar vídeos relacionados y agregar alguno o hacer una lista de reproducción del tema. Puedes hacer tus propios vídeos y resumir tus contenidos o presentarlo de otra manera.</li>
                    <li>Pensar de una manera disruptiva, te puede ayudar a diferenciarte y aportar valor desde nuevos puntos de vista.</li>
                </ul>
            </p>

            <h3>2.2.6 Aligerar la velocidad de carga</h3>
            <p class="text-justify">
                Google trata de mostrar lo menos posible aquellas páginas que son muy lentas, anticuadas y en flash. Está empeñado en ofrecernos una experiencia muy buena
                al usuario de Internet. Si las páginas fueran lentas, lo usaríamos menos.
                <br>
                <br>
                Asi una de las prioridades es quitarle peso a la página. Los complementos Javascript y las imágenes son el tipo de recursos que más pesan en una web. Comprime
                tus imágenes con <a href="http://www.jpegmini.com/" target="_blank">JpegMini</a> o <a href="www.smushit.com/" target="_blank">Smush It</a>. Reducelas antes
                de subirlas al tamaño en que las vas a mostrar.
                <br>
                <br>
                Evitar el uso de Java, plugins y widgets innecesarios. Trata de juntarlos en un Trata de juntarlos en un único archivo, comprimirlos y retrasar su carga. Y recuerda
                que es imprescindible tener un sistema de Caché y compresión en Gzip.
            </p>

            <h3>Más Información</h3>
            <p class="text-justify">
                Existen una grandísima variedad de técnicas y herramientas para mejorar el posicionamiento SEO y diseñar una estrategia de marketing efectiva. En este tema solo nos
                hemos acercado a la superficie de lo que es el posicionamiento y las distintas posturas que se pueden adoptar a la hora de su implementación y existen muchos sitios
                en Internet que ayudan a aquellos que necesitan orientación para saber como al menos comenzar su camino en el mundo del SEO. Algunas de estas páginas son:
                <ul>
                    <li><a href="http://brunovd.com/claves-posicionamiento-web/" target="_blank">BrunoVD</a></li>
                    <li><a href="http://www.posicionamientoseo.co/como-usar-las-redes-sociales-para-un-posicionamiento-web-efectivo" target="_blank">Posicionamiento SEO CO</a></li>
                    <li><a href="http://www.salvadorpuig.com/las-redes-sociales-y-el-posicionamiento-seo.html" target="_blank">Salvador Puig</a></li>
                    <li><a href="http://luismvillanueva.com/seo/posicionamiento-seo-buscadores.html" target="_blank">Luis M Villanueva</a></li>
        </ul>
            </p>
        </div>
    </div>
</div>