<div class="jumbotron4"></div>

<div class="container">
    <div class="page-header">
        <h1>Métodos de pago y legislación</h1>
        <p class="text-justify">
            En Internet para poder cobrar de esta forma es necesario que la tienda online instale una plataforma segura de pago,
            de una entidad bancaria o similar. Es el equivalente a un datáfono o <a href="http://es.wikipedia.org/wiki/Terminal_punto_de_venta" target="_blank">TPV</a>
            (Terminal de Punto de Venta) virtual que permite al comercio verificar la tarjeta bancaria del cliente a través de internet.
        </p>
        <p class="text-justify">
            La <a href="https://www.boe.es/buscar/act.php?id=BOE-A-2002-13758" target="_blank">Ley 34/2002</a>, de servicios de la
            sociedad de la información y del comercio electrónico,  es la norma reguladora del comercio electrónico y de otros
            servicios de internet cuando sean parte de una actividad económica.
        </p>
        <p class="text-justify">
            En esta sección trataremos los aspectos de estos temas que están fuertemente relacionados debido a la naturaleza de ambos.
        </p>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h1>Métodos de pago para la compra online</h1>
            <p class="text-justify">
                Las formas de pago más habituales cuando hablamos de compra electrónica son:
            </p>
            <ol class="text-justify">
                <li><a href="http://es.wikipedia.org/wiki/Pasarela_de_pago" target="_blank">Pasarelas de pago</a>, también llamadas Terminal de Punto de Venta Virtual, TPVV o Terminal de Venta al Público,
                TVP. Cuentan con un intermediario entre tu y el vendedor, que son las entidades bancarias; y tienen su propio
                protocolo de seguridad que impide que tus datos sean conocidos por un tercero.</li>
                <br>
                <li>Pago con tarjeta, de crédito o de débito. Aquí también intervienen los emisores de las tarjetas, que son los
                bancos o cajas, por lo que se trata de un medio seguro, ya que si tu tarjeta recibe un cargo por error o fruto
                de una estafa o fraude, puedes anularlo si lo descubres antes de tres meses. Ahora se están poniendo de moda otras
                formas de pago con tarjetas monedero (de recarga y no vinculadas a una cuenta corriente) o con tarjetas virtuales
                que funcionan de la misma forma, con una cantidad de prepago. </li>
                <br>
                <li>Pago contra reembolso. Pagas en efectivo cuando recibes la mercancía y suele llevar recargos.</li>
                <br>
                <li>Transferencia o ingreso a cuenta. No tienes que desvelar tus datos personales o bancarios, aunque hay que
                    vigilar los costes añadidos, sobre todo si es con cuentas en el extranjero.</li>
                <br>
                <li>Domiciliación bancaria. Muy útil con compras periódicas y siempre fácilmente anulable.</li>
                <br>
                <li>Pago por el móvil. Es una de las fórmulas de pago más modernas, en la que se vincula la compra con tu
                    número de móvil, y tienes que introducir tus datos para confirmar la compra a través del teléfono.</li>
            </ol>
            <p class="text-justify">
                Algunos de estos métodos necesitan de software adicional para poder establecer las comunicaciones con las entidades bancarias, como
                las <b>pasarelas de pago</b> o el <b>pago con tarjeta</b> ya que estás operaciones deben realizarse por canales de confianza. A continuación
                explicaremos cuales son los medios que comúnmente se instalan en las tiendas virtuales y de que forma hacer que los usuarios
                se sientan más cómodos a la hora de realizar operaciones de compra en ellas. Además hablaremos de los aspectos legales que hay
                que tener en cuenta a la hora de establecer términos de compra en nuestro sitio web.
            </p>

            <h2>Pasarelas de pago</h2>
            <p class="text-justify">
                Una pasarela de pago o TPV Virtual (también llamado Terminal Punto de Venta), hace referencia al dispositivo y
                tecnología que ayudan en la tareas de gestión de un establecimiento comercial de venta al público. Este dispositivo
                proporciona el servicio de pago telemático al ciudadano a través de Internet.
            </p>
            <p class="text-justify">
                Son plataformas proporcionadas por las entidades bancarias para que se incorporen en el proceso de pago de la tienda
                virtual. Asumen las tareas de validación de operaciones ralizadas con tarjetas de crédito conectando con las redes privadas
                de las entidades emisoras de tarjetas a través de la Red.
            </p>
            <p class="text-justify">
                Para garantizar la seghuridad de dichas transacciones estas pasarelas emplean sistemas y protocolos de seguridad.
            </p>



        </div>
    </div>

    <hr>
    <footer class="container">
        <p>Métodos de pago y legislación, 2014</p>
    </footer>

</div>