<div class="jumbotron4"></div>

<div class="container">
    <div class="page-header">
        <h1>Métodos de pago y legislación</h1>
        <p class="text-justify">
            En Internet para poder cobrar de esta forma es necesario que la tienda online instale una plataforma segura de pago,
            de una entidad bancaria o similar. Es el equivalente a un datáfono o <a href="http://es.wikipedia.org/wiki/Terminal_punto_de_venta" target="_blank">TPV</a>
            (Terminal de Punto de Venta) virtual que permite al comercio verificar la tarjeta bancaria del cliente a través de internet.
        </p>
        <p class="text-justify">
            La <a href="https://www.boe.es/buscar/act.php?id=BOE-A-2002-13758" target="_blank">Ley 34/2002</a>, de servicios de la
            sociedad de la información y del comercio electrónico,  es la norma reguladora del comercio electrónico y de otros
            servicios de internet cuando sean parte de una actividad económica.
        </p>
        <p class="text-justify">
            En esta sección trataremos los aspectos de estos temas que están fuertemente relacionados debido a la naturaleza de ambos.
        </p>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h1>Métodos de pago para la compra online</h1>
            <p class="text-justify">
                Las formas de pago más habituales cuando hablamos de compra electrónica son:
            </p>
            <ol class="text-justify">
                <li><a href="http://es.wikipedia.org/wiki/Pasarela_de_pago" target="_blank">Pasarelas de pago</a>, también llamadas Terminal de Punto de Venta Virtual, TPVV o Terminal de Venta al Público,
                TVP. Cuentan con un intermediario entre tu y el vendedor, que son las entidades bancarias; y tienen su propio
                protocolo de seguridad que impide que tus datos sean conocidos por un tercero.</li>
                <br>
                <li>Pago con tarjeta, de crédito o de débito. Aquí también intervienen los emisores de las tarjetas, que son los
                bancos o cajas, por lo que se trata de un medio seguro, ya que si tu tarjeta recibe un cargo por error o fruto
                de una estafa o fraude, puedes anularlo si lo descubres antes de tres meses. Ahora se están poniendo de moda otras
                formas de pago con tarjetas monedero (de recarga y no vinculadas a una cuenta corriente) o con tarjetas virtuales
                que funcionan de la misma forma, con una cantidad de prepago. </li>
                <br>
                <li>Pago contra reembolso. Pagas en efectivo cuando recibes la mercancía y suele llevar recargos.</li>
                <br>
                <li>Transferencia o ingreso a cuenta. No tienes que desvelar tus datos personales o bancarios, aunque hay que
                    vigilar los costes añadidos, sobre todo si es con cuentas en el extranjero.</li>
                <br>
                <li>Domiciliación bancaria. Muy útil con compras periódicas y siempre fácilmente anulable.</li>
                <br>
                <li>Pago por el móvil. Es una de las fórmulas de pago más modernas, en la que se vincula la compra con tu
                    número de móvil, y tienes que introducir tus datos para confirmar la compra a través del teléfono.</li>
            </ol>
            <p class="text-justify">
                A pesar de existir numerosos métodos de pago, sin duda el pago con tarjeta de crédito o débito es la ganadora seguida
                muy de cerca del del e-Payment a través de pasarelas de pago. Más concretamente son las tarjetas de crédito Visa y Mastercard
                las que predominan en Europa para el pago acaparando el 72% de las operaciones de compra en Internet.
            </p>
            <p class="text-justify">
                Algunos de estos métodos necesitan de software adicional para poder establecer las comunicaciones con las entidades bancarias, como
                las <b>pasarelas de pago</b> o el <b>pago con tarjeta</b> ya que estás operaciones deben realizarse por canales de confianza. A continuación
                explicaremos cuales son los medios que comúnmente se instalan en las tiendas virtuales y de que forma hacer que los usuarios
                se sientan más cómodos a la hora de realizar operaciones de compra en ellas. Además hablaremos de los aspectos legales que hay
                que tener en cuenta a la hora de establecer términos de compra en nuestro sitio web.
            </p>

            <h2>Pasarelas de pago</h2>
            <p class="text-justify">
                Una pasarela de pago o TPV Virtual (también llamado Terminal Punto de Venta), hace referencia al dispositivo y
                tecnología que ayudan en la tareas de gestión de un establecimiento comercial de venta al público. Este dispositivo
                proporciona el servicio de pago telemático al ciudadano a través de Internet.
            </p>
            <p class="text-justify">
                Son plataformas proporcionadas por las entidades bancarias para que se incorporen en el proceso de pago de la tienda
                virtual. Asumen las tareas de validación de operaciones ralizadas con tarjetas de crédito conectando con las redes privadas
                de las entidades emisoras de tarjetas a través de la Red.
            </p>
            <p class="text-justify">
                Para garantizar la seguridad de dichas transacciones estas pasarelas emplean sistemas y protocolos de seguridad.
            </p>
            <h3>Funcionamiento de las pasarelas de pago</h3>
            <ol class="text-justify">
                <li>El comercio virtual muestra la información del pedido (por ejemplo a través de un carrito de la compra) realizado
                por su cliente con la información básica: artículo, unidades, referencia, precio unitario, precio total, impuestos
                (IVA) y costes envío, etc.</li>
                <br>
                <li>Cuando el cliente procede a realizar el pago , el comercio virtual se conecta a una página segura (servidor seguro)
                    perteneciente a la entidad bancaria desde donde se le solicita el número de tarjeta de crédito/débito, nombre titular,
                    fecha de caducidad y, en algunos casos, el código de seguridad CVV. </li>
                <br>
                <li> El banco comprueba la validez de la operación, por lo que los datos de la tarjeta viajan cifrados al sistema del
                    banco para que tramite su autorización con la Entidad emisora de la tarjeta (VISA, MasterCard, 4B, Red6000,...)
                    donde se comprueba la validez de la tarjeta y la disponibilidad de fondos para el pago. De esta forma el comercio
                    no tendrá acceso a los datos de la tarjeta, solamente del pedido y su importe, y el banco exclusivamente a la información
                    de la tarjeta y no del pedido.</li>
                <br>
                <li>Una vez autorizada la transacción, el TPV Virtual informa tanto al comprador como a su comercio del resultado de la
                    operación y devuelve el control a la web de la tienda virtual.</li>
                <br>
                <li>En el momento en que se recibe la confirmación bancaria, la tienda virtual confirma el pedido y se procede al
                    abono del importe en la cuenta del vendedor. En este paso es habitual que el cliente reciba un correo electrónico
                    de la tienda confirmando la compra e incluyendo información detallada del pedido realizado.</li>
            </ol>
            <h3>Claves para elegir una pasarela de pago</h3>
            <p class="text-justify">
                A la hora de montar nuestro comercio electrónico tenemos que decidir qué modalidades de pago vamos a ofrecer,
                y en las modalidades online decidir qué pasarelas de pago vamos a integrar.
            </p>
            <ul class="text-justify">
                <li><b>Costes: </b>3 precios clave, coste por <b>instalación</b> (lo que nos cuesta integrarla), <b>transaccion</b> (la tasa
                    que se va a cobrar por cada transacción) y <b>mantenimiento</b> (lo que nos cobran al mes por mantenimiento).</li>
                <br>
                <li><b>Tiempo de integración: </b>Cuando decidimos montar una pasarela de pago la queremos en el momento. Actualmente
                    este aspecto está muy bien cuidado por parte de las entidades bancarias y se puede hacer funcionar en menos de 24h.</li>
                <br>
                <li><b>API: </b>Cuando requerimos de un control avanzado de los pagos y suscripciones(sobre todo para esto último),
                    necesitaremos de una pasarela de pago que nos proporcione una API para que nuestros desarrolladores tengan acceso
                    a la información de la cuenta de la tienda y puedan sacarle el máximo provecho a las funcionalidades sobre nuestra cuenta.</li>
                <br>
                <li><b>SSL: </b>Muchas pasarelas ofrecen de por si, y sin pago extra, un certificado de <a href="https://www.verisign.es/" target="_blank">Verisign</a>, que es de los más fiables. Otras
                    te ofrecen instalar el que vosotros tengáis contratado.</li>
                <br>
                <li><b>Tarjetas de crédito disponibles: </b>En Europa, VISA y Mastercard debe ser obligatorio, permitiendo además
                    tarjetas de débito. Y un punto que hay que mirar es que obliguen a la comprobación del código de verificación
                    <a href="https://www.payintegral.com/whatiscvv2_spanish.html" target="_blank"> CVV2</a>.</li>
                <br>
                <li><b>Sistema antifraude: </b>Si queréis llegar al máximo en cuanto a la seguridad de la transación se refiere,
                    sería necesario mirar si la pasarela posee un sistema antifraude, como el <a href="http://en.wikipedia.org/wiki/Address_Verification_System" target="_blank">AVS</a> (Address Verification Service).
                    Estos servicios solicitan al comprador que introduzca la dirección fiscal de su tarjeta de crédito, y la
                    pasarela lo comprueba con los datos del banco a la que pertenece, la cual supuestamente sólo sabe el propietario de la tarjeta.</li>
            </ul>
            <h3>PayPal</h3>
            <p class="text-justify">
                PayPal se esta convirtiendo en el "Estándar Global" de pagos en línea. Cada día mas y mas personas, compañías,
                negocios y comercios utilizan PayPal como su procesador de transacciones en línea, además de miles de tiendas
                virtuales, como eBay entre otras.
            </p>

            <p align="center"><img src="assets/images/paypal-logo-png.png" class="img-responsive" alt="PayPal Logo"></p>
            <p align="center">Fig. 1 - PayPal (Fuente: https://www.paypal.com).</p>

            <p class="text-justify">
                El sistema de Paypal, con cerca de 150 millones de miembros en 190 países del mundo e incluido en más de 30.000
                webs, permite hacer compras y pagar en Internet sin ir dejando nuestro nº de tarjeta de crédito por todos lados.
                Una vez te has hecho miembro ya no tienes que incluir tu tarjeta de crédito al pagar con PayPal, únicamente es
                necesario la dirección de correo.
            </p>
            <p class="text-justify">
                PayPal, mantiene su presencia como una capa extra de seguridad, porque la información personal en tarjetas de
                crédito, cuentas de banco y direcciones se queda en PayPal. Con otras transacciones en línea, esa información
                es transmitida del comprador al vendedor al procesador de tarjetas de crédito.
            </p>
            <h4>Más ventajas</h4>
            <ul class="text-justify">
                <li>La prevención de fraude líder del sector le ayuda a estar protegido.</li>
                <li>Se mantiene la privacidad y seguridad de la información financiera.</li>
                <li>Las herramientas de eBay y los servicios para vendedores se pueden utilizar de forma gratuita.</li>
                <li>Aceptado en eBay y en los sitios Web de los vendedores.</li>
                <li>Los pagos se pueden realizar localmente o en 190 países y regiones de todo el mundo.</li>
            </ul>
        </div>
    </div>

    <hr>
    <footer class="container">
        <p>Métodos de pago y legislación, 2014</p>
    </footer>

</div>