<div class="container">
    <div class="page-header">
        <h1>Tema 1 - Introducción al Comercio Electrónico</h1>
    </div>
    <div class="row">
        <div class="col-md-8">

            <h2 id="intro">1. Introducción - Importancia</h2>
            <p class="text-justify">
                En los últimos tiempos, el comercio electrónico o eCommerce en España está batiendo
                records de uso en sus empresas. Se convierte en uno de los métodos más extendidos por las empresas debido a
                la elevada tendencia de la población de incrementar su presencia “online” y gestionar todas sus actividades
                del día a día a través de un teléfono inteligente.
                <br>
                <br>
                El eCommerce se ha convertido en una de las herramientas más potentes de una empresa
                a la hora de vender sus productos ya que está al alcance de todas
                y además ofrece multiples ventajas frente al método tradicional de venta:

            <ul class="text-justify">
                <li>Permite hacer más eficientes las actividades de cada empresa, así como establecer nuevas formas,
                    más dinámicas, de cooperación entre empresas.</li>

                <li>Reduce las barreras de acceso a los mercados actuales, en especial para PYMES y abre la
                    oportunidad a explotar nuevos mercados.</li>

                <li>De cara al consumidor, amplía su capacidad de acceder a prácticamente cualquier producto y de comparar
                    ofertas, permitiéndole además convertirse en proveedor de información.</li>

                <li>Reduce o incluso elimina por completo los intermediarios.</li>
            </ul>
            </p>

            <h2>2. Origen y evolución - EDI (Electronic Data Interchange)</h2>
            <h3>2.1 Definición EDI</h3>
            <p class="text-justify">
                EDI se refiere a la transmisión de datos entre organizaciones vía electrónica. Aunque esto incluye el email,
                EDI también aplica mucho más que eso. EDI es el sistema electrónico que permite a las empresas enviar y recibir documentos estándares
                (pedidos, albaranes, facturas, relaciones de facturas, avisos de expedición, inventarios, etc.) de forma instantánea y con la mínima
                intervención manual.
            <p align="center">
                <img src="assets/images/edi.png" class="img-responsive" alt="EDI">
            <p align="center">Fig.1 - Fundamentos EDI (Fuente: www.ediacademy.com).</p>

            <br>
            <br>

                En la actualidad, EDI sigue siendo más usado que las soluciones basadas en XML, ya que este aun siendo mejor
                “tecnológicamente” no aporta ninguna ventaja, además EDI es mas ampliamente usado por las empresas.
                <br>
                <br>
                Podemos definir EDI como un procesador de lenguajes montado sobre un sistema de comunicación. Tiene un lenguaje
                de entrada (distintos formularios) que se entienden y a partir de ahí se manipulan es decir, trabaja como el
                compilador de un lenguaje de programación.

                El uso de EDI implica:

            <br>
            <ol>
                <li>Estándares de comunicación que normalizan los documentos.</li>
                <li>Existencia de sistemas y protocolos de intercambio de datos.</li>
                <li>Redes que los soporten y aseguren privacidad en las transacciones de datos.</li>
            </ol>
            <p class="text-justify">
                EDI es un tipo de integración B2B mediante el cual empresas-colaboradoras transmiten datos entre si usando formatos de documentos y
                protocolos de comunicación comunes. Una solución de este tipo debe automatizar los procesos de importación y exportación de información a/de
                su sistema interno de gestión (ERP) a partir de sofisticados sistemas de mapping y transformación a/de formatos estándar, y permitir el
                envío y recepción.

                Esta capacidad de integración convierte a los mensajes EDI en la mejor opcioón para optimizar la mayor parte de los procesos
                administrativos y de gestión, gracias, entre otras, a las mejoras obtenidas por reducción de tiempos de procesamiento, incremento
                de la seguridad y confidencialidad, o reducción de costes.
            </p>

            <br>

            <p align="center">
                <img src="assets/images/funEDI.jpg" class="img-responsive" alt="EDI">
            <p align="center">Fig.1 - Fundamentos EDI (Fuente: www.ediacademy.com).</p>

            <h3>2.2 Implementación de EDI</h3>
            <p class="text-justify">
                Antes de implementar una solución EDI, hay que tener claro cuales son los pilares y que pasos hay que seguir para que la implementación
                del sistema EDI sea un completo éxito.
            </p>
            <h4>2.2.1 Requisitos EDI</h4>
            <p class="text-justify">
                Para hacer EDI se necesitan cumplir los siguientes puntos:
                <ul class="text-justify">
                    <li><strong>Tener un lenguaje estándar: </strong>El intercambio de información electrónica requere de un lenguaje estandarizado, compartido por
                    emisor y receptor. Existen distintos estándares para la construcción de documentos EDI como EDIFACT, X12, XML...</li>
                    <li><strong>Software EDI: </strong>Emisor y receptor deberán disponer de una solución EDI con la que construir y gestionar los mensajes, conforme
                    al estándar pactado.</li>
                    <li><strong>Red de comunicaciones: </strong> Los intercambio EDI requeren de sistemas de comunicaciones seguros y adaptados a las peculiaridades de este tipo
                    de transacciones. Existen diversas opciones, si bien las mñas extendidas son las VAN o Redes de Valor Añadido.</li>
                </ul>
            </p>
            <h4>2.2.2 Fases de EDI </h4>
            <p class="text-justify">
                <ol class="text-justify">
                    <li><strong>Analisis de la factibilidad.</strong> Para determinar si este sistema de comunicación es viable en la empresa.</li>
                    <li><strong>Planificación preliminar.</strong> Para establecer la viabilidad de traducir y transmitir los documentos afectados, conocer
                    los interlocutores afectados y sus sistemas, y saber qué aplicaciones afectadas para establecer la integración. Por ejemplo, si es necesario
                    invertir en nuevos servidores y bases de datos para alojar el sistema EDI o si se requiere de una asignación mayor de recursos de la empresa
                    a gestionar y mantener el EDI.</li>
                    <li><strong>Desarrollo.</strong>
                    <ul class="text-justify">
                        <li>Establecer con qué socios se va a utilizar EDI.</li>
                        <li>Determinar los acuerdos de itnercambio necesarios con estos (como documentos a intercambiar, protocolos, acuerdos legales, etc.)</li>
                        <li>Cubrir las necesidades técnicas (hardware, software y redes) que el sistema supone.</li>
                        <li>Establecer y cubrir las necesidades de formación y documentación del sistema.</li>
                        <li>Establecer funciones de control que permitan garantizar que el sistema cumple con sus objetivos.</li>
                    </ul></li>
                    <li><strong>Puesta en marcha y seguimiento.</strong> El entorno EDI está en continua evolución, lo cual añade complejidad al mantenimiento necesario.</li>
                    <li><strong>El costo</strong> en desarrollos propios suele ser elevado, en aplicaciones subcontratadas el servicio de mantenimiento va incluido.</li>
                </ol>
            </p>
            <h4>2.2.3 Componentes EDI </h4>
            <p class="text-justify">
                <ol class="text-justify">
                    <li><strong>Fisicos o de hardware: </strong> un ordenador; un módem o placa de comunicaciones, que conecte el ordenador a las líneas de
                    comunicaciones; una línea de transmisión de información.</li>
                    <li><strong>Software: </strong>Software de integración o de enlace entre las app de la empresa, cuyos documentos se enviarán vía EDI;
                    software de traducción que reformatea los datos de los documentos; software de comunicación, que envía los datos a través de las
                    redes de telecomunicación y software de gestión de las actividades llevadas a cabo bajo EDI.</li>
                </ol>
            </p>
            <h3>2.3 Caso de Uso de EDI - Tienda de ropa</h3>
            <h4>2.3.1 Objetivo</h4>
                <p class="text-justify">
                    Eliminar el papel del proceso de facturación y envío con sus clientes de pequeñas y medianas empresas mediante el aprovechamiento de la
                    tecnología EDI utilizada con sus cuentas más grandes al tiempo que garantiza la satisfacción del cliente.
                </p>
            <h4>2.3.2 Pasos a seguir</h4>
            <p class="text-justify">
                <ul>
                    <li>Implementar un sistema de notificación de facturación y envío usando un formulario web.</li>
                    <li>Usa un solo processo EDI para todos los clientes, grandes y pequeños con total visibilidad del proceso de facturación y envío.</li>
                </ul>
            </p>
            <h4>2.3.3 Resultados</h4>
            <p class="text-justify">
                <strong>Importante ahorro de costes y mejora de la velocidad de envío</strong>
                <br>
                <br>
                <ul>
                    <li>La evolución hacia el intercambio electronico de documentos ha reducido drásticamente los costes de envíos. Los envíos no
                    son retrasados por falta de documentación.</li>
                    <li>Días de ventas menores pendientes (DSO) debido a la facilidad y la más rápida facturación y pago.</li>
                    <li>Un modelo de precios flexible permitió al fabricante de ropa que pagar todos los costos del programa , eliminando cualquier
                        obstáculo a la participación de sus cliente</li>
                </ul>
            </p>

            <!--AQUI VAMOS A AÑADIR TODO LO DEL EDI PARA SEPARAR EL TEMA 1 DEL TEMA 2, EN EL CUAL SOLO VEREMOS LOS TIPOS DE TIENDAS-->

            <!--<h3>Segunda Etapa: Presencia en la web</h3>
            <p class="text-justify">
                Surge en 1993 con la aparición del primer navegador, NCSA Mosaic. El objetivo fundamental de esta fase es la de
                parecer en la web, tener la imagen de una empresa allí. No había BBDD ni nada parecido, únicamente el folleto
                de la empresa. De esta forma me distingo del resto de las empresas.

                <br>
                <br>

                Ejemplo: Dulcesol.
            </p>

            <h3>Tercera Etapa: Tienda en línea y las .com</h3>
            <p class="text-justify">
                Ya no vale estar solo en la web, si no que quiero vender en la web. La tecnología ya lo permite, ya que existen
                los catálogos online, bases de datos, pasarelas de pago para pagar por Internet.
                Con respecto a las .com, empiezan a aparecer empresas cuyo negocio es la propia web, solamente venden ahí (sin tienda física).

                Un ejemplo de tienda en línea es Pizza Hut, considerada como la primera tienda online, donde se podían hacer
                pedidos a través de su web. Otro ejemplo de .com es Amazon, considerada como la primera en su género.

                <br>
                <br>

                Ejemplo: Nakasha-spain.
            </p>

            <h3>Cuarta Etapa: Centros Comerciales en Línea</h3>
            <p class="text-justify">
                Preocupación por la gente que quiere vender pero no tiene una tienda. Surgen las ventas en línea o los portales
                de venta en línea. El proveedor en este caso aoporta toda la infraestructura tecnológica para empresas que
                quisieran montar su tienda en Internet pero sin la capacidad o intención de crear la suya propia.

                <br>
                <br>

                Ejemplos: Pixmania, Todocoleccion.
            </p>

            <h3>Quinta Etapa: Integración</h3>
            <p class="text-justify">
                La idea es la de integrar la tienda web con la tienda física. Aprovechar las ventajas que nos brinda la tienda
                online (estadísticas, BigData) para tomar decisiones que ayuden al negocio. Se ponen en marcha estrategias de negocio propias para la web.
                <br>
                <br>

                El ejemplo que mejor partido saca a este tipo de tecnologías es Zara, el cual tiene una maquinaria por detrás
                que permite controlar cada aspecto de su producción y distribución (que tipo de ropa producir para un país determinado,
                que productos se venden mejor, en que fechas se producen picos, etc.)

                <br>

            <ol>
                <li>Alcance de un mercado más amplio.</li>
                <li>Capacidad de llegar a mercados especializados.</li>
                <li>24 horas al día, 7 días a la semana, los 365 días al año.</li>
                <li>Capital e inventario mínimo.</li>
                <li>Reducción de gastos en Servicio y Logística.</li>
                <li>Precios reducidos.</li>
                <li>Permite proporcionar información libre de error y actualizada.</li>
                <li>Ofrece mejor servicio.</li>
            </ol>

            Ejemplo: Aceros-de-Hispania, con cierta presencia en redes sociales.

            </p>

            <h3>Sexta Etapa: Social Commerce & m-Commerce</h3>
            <p class="text-justify">
                La Web 2.0 ha dado un valor añadido a la forma de llevar a cabo el comercio electrónico, llegando a los clientes
                de una manera más directa y con mayor contacto. Esto se puede considerar una aportación reciente a las aplicaciones de negocio online.

                <br>
                <br>

                El aumento en la adopción de los dispositivos móviles por parte de la sociedad y las previsiones del aumento de
                las actividades comerciales realizadas con dispositivos móviles, ha conducido a que muchas empresas quieran crear
                apps (aplicaciones) para iPhone, BlackBerry, Android... de sus tiendas online.

                <br>
                <br>

                Ejemplo: Todocolección

            </p>-->

            <h2>3. Definición de Comercio y Negocio Electrónico.</h2>
            <p class="text-justify">
            <dl>
                <dt>Negocio electrónico</dt>
                <dd>
                    Concepto amplio, que recoge la introducción de las tecnologías de la información
                    y comunicación para realizar las actividades de un negocio.
                </dd>
            </dl>
            <br>
            <p align="center">
                <img src="assets/images/negocioE.png" class="img-responsive" alt="E-Business">
            <p align="center">Fig.1 - E-business y sus componentes (Fuente: catalog.flatworldknowledge.com).</p>
            </p>

            <dl>
                <dt>El reto es la información</dt>
                <dd>
                    Aprender a adquirirla, gestionarla e interpretarla para generar valor.
                </dd>
                <br>
                <ul>
                    <li>
                        <dl>
                            <dt>
                                Business Intelligence
                            </dt>
                            <dd class="text-justify">
                                Business Intelligence (BI): Conjunto de estrategias y herramientas para la administración
                                de conocimiento mediante el análisis de los datos existentes en las organizaciones o empresa e
                                incluso externos a esto.
                            </dd>
                        </dl>
                    </li>
                </ul>
            </dl>
            <dl>
                <dt>
                    El activo más importante de una empresa son sus clientes
                </dt>
                <dd>
                    Sin estos la empresa no tendría razón de ser.
                </dd>
                <br>
                <ul>
                    <li>
                        <dl>
                            <dt>
                                Customer Relationship Management - CRM
                            </dt>
                            <dd class="text-justify">
                                Son los sistemas de apoyo a la gestión de las relaciones con los clientes: Conocer mejor a su
                                clientela y obtener su lealtad mediante información pertinente de manera tal que se puedan calibrar
                                mejor sus necesidades y así satisfacerlas de forma efectiva. Suelen estar conectados con otros SI.
                                <br>
                                <br>
                                Esto incluye:
                                <ul>
                                    <li>
                                        <strong>Marketing: </strong>tener una visión más clara de los clientes de marketing más informadas.
                                    </li>
                                    <li>
                                        <strong>Ventas: </strong> conseguir más clientes potenciales y cerrar más negocios.
                                    </li>
                                    <li>
                                        <strong>Servicio al cliente: </strong>proporcionar mas valor a los clientes (pre y postventa).
                                    </li>
                                </ul>
                                <br>
                                <p align="center">
                                    <img src="assets/images/forex-crm-confisio-fx.png" class="img-responsive" alt="CRM">
                                <p align="center">Fig. 2 - CRM (Fuente: www.redesymarketing.com).</p>
                                </p>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </dl>
            <dl>
                <dt>
                    Mercado actual globalizado
                </dt>
                <dd>
                    Es muy amplio y requiere productos y servicios personalizados, para lo que tenemos que ser ágiles,
                    flexibles y dinámicos, eficaces, y a su vez, rentables.
                </dd>
                <br>
                <ul>
                    <li>
                        <dl>
                            <dt>
                                Supply Chain Management - SCM
                            </dt>
                            <dd class="text-justify">
                                Sistemas para la gestión de las actividades comprendidas en planeamiento, abastecimiento, manufactura,
                                logística de entrada, logística interna, logística de salida y logística inversa. Incluye también
                                sistemas de integración con los proveedores de mis proveedores y con los clientes de mis clientes
                                para poder evaluar el flujo de los productos en procesos integrados, midiendo su velocidad, visibilidad
                                y su grado de sincronización.
                            </dd>
                            <br>
                            <p align="center">
                                <img src="assets/images/scm_img.jpg" class="img-responsive" alt="CRM">
                            <p align="center">Fig. 3 - SCM (Fuente: blog.openinnova.es).</p>
                            </p>
                        </dl>
                    </li>
                </ul>
            </dl>
            <dl>
                <dt>
                    Las decisiones
                </dt>
                <dd class="text-justify">
                    En una empresa las decisiones que afecten al rumbo del negocio deben estar basadas en la información analizada.
                </dd>
                <br>
                <ul>
                    <li>
                        <dl>
                            <dt>
                                Enterprise Resource Management - ERM
                            </dt>
                            <dd class="text-justify">
                                Es un sistema de gestión de la información estructurado que permite a las empresas evaluar,
                                implementar y gestionar más fácilmente su negocio.

                                <br>
                                Los sistemas ERM unen y sincronizan todas las operaciones de la compañía incluyendo: Recursos humanos,
                                finanzas, manufactura y distribución, así como también debe permitir conectar a la empresa con sus clientes y proveedores.
                            </dd>
                            <br>
                            <p align="center">
                                <img src="assets/images/erm-control-cycle.jpg" height="400" width="500" alt="ERM">
                            <p align="center">Fig. 4 - ERM (Fuente: riskviews.wordpress.com).</p>
                            </p>
                        </dl>
                    </li>
                </ul>
            </dl>
            <dl>
                <dt>
                    Comercio electrónico
                </dt>
                <dd class="text-justify">
                    Compartir información empresarial, mantener relaciones comerciales y realizar transacciones comerciales a través
                    de redes de telecomunicaciones.
                    <br>
                    Otras definiciones:
                    <lu>
                        <li>Comercio electrónico es realizar transacciones empresariales electrónicamente.</li>
                        <li>Comercio electrónico significa la compra/venta de productos, servicios e información vía Internet</li>
                    </lu>
                </dd>
            </dl>

            <h3>e-Commerce vs e-business</h3>
            <ol>
                <li>e-Commerce puede considerarse que es una parte esencial del e-Business</li>
                <li>e-Commerce y e-Business en la práctica se usan indistintamente.</li>
                <li>e-Commerce provee de la infraestructura y el entorno que permite y facilita las tareas del e-Business</li>
            </ol>
            <ul>
                <li><strong>Comercio:</strong> Se define como aquello que abarca el concepto de comercio, intercambio de mercancia
                    a gran escala entre los diferentes países.</li>
                <li><strong>Negocio:</strong> Se define como una empresa comercial con un negocio en marcha.</li>
            </ul>

            <h2>4. Ventajas y desventajas</h2>
            <div class="row">
                <div class="col-md-6">
                    <h3>Ventajas para la empresa</h3>
                    <ul>
                        <li>Mercado más amplio y especializado.</li>
                        <li>Mayor visibilidad.</li>
                        <li>Comunización más fiable sobre productos/servicios.</li>
                        <li>Disponibilidad 24h.</li>
                        <li>Capital e inventario minimo.</li>
                        <li>Reducción de costes.</li>
                        <li>Facilita el martketing y el soporte al cliente.</li>
                        <li>Mayor eficiencia en las transacciones.</li>
                        <li>Facilidad para fidelizar clientes.</li>
                        <li>Independencia del factor ubicación física.</li>
                    </ul>

                    <h3>Ventajas para la cliente</h3>
                    <ul>
                        <li>Más opciones de elección.</li>
                        <li>Más cantidad de información.</li>
                        <li>Mayor calidad de la información.</li>
                        <li>Posibilidad de comparar fácilmente.</li>
                        <li>Disponibilidad 24h.</li>
                        <li>El entorno competitivo conduce a precios reducidos.</li>
                        <li>Mejor soporte.</li>
                        <li>Mejor servicio.</li>
                        <li>Proporciona comodidad y libertad.</li>
                        <li>¡Desde cualquier sitio! (Problema de la ubicuidad desaparece)</li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h3>Desventajas para la empresa</h3>
                    <ul>
                        <li>Requiere de un plan de negocio adaptado al nuevo entorno.</li>
                        <li>Requiere una inversión inicial: no basta con tener únicamente la web.</li>
                        <li>Comunización más fiable sobre productos/servicios.</li>
                        <li>Cambios tecnológicos frecuentes (por ejemplo: Amazon solo en 2012 realizaron 159 lanzamientos de
                            nuevas funciones y servicios).</li>
                        <li>Mayor competitividad: grandes tiendas/fabricantes.</li>
                        <li>Problemas de seguridad.</li>
                        <li>Descuido del negocio en favor de la tecnología.</li>
                        <li>Mayor complejidad en las transacciones.</li>
                        <li>Gestión de Garantías post-venta.</li>
                        <li>Privacidad/Seguridad:Uso de los medios de pago.</li>
                    </ul>

                    <h3>Desventajas para la cliente</h3>
                    <ul>
                        <li>Necesidad de una inversión (equipo, software, internet).</li>
                        <li>Intangibilidad, no se ve/toca lo que se compra.</li>
                        <li>Desconfianza, se pierde el contacto directo.</li>
                        <li>Mayor complejidad en las transacciones.</li>
                        <li>Gestión de Garantías post-venta.</li>
                        <li>Privacidad/Seguridad:Desconfianza en los medios de pago.</li>
                    </ul>
                </div>
            </div>

        <h2>5. Clasificación de los negocios</h2>
        <p class="text-justify">
            Existen muchas formas de clasificar (etiquetar) un modelo de negocio on line, atendiendo a:
            <ul>
                <li>Las partes implicadas.</li>
                <li>El tipo de producto que vendan.</li>
                <li>La visibilidad del negocio.</li>
                <li>La diversidad ofrecida.</li>
                <li>El modo en el que se realiza la transacción final.</li>
            </ul>

            <strong>Según las partes implicadas: </strong>
            <ul class="text-justify">
                <li><strong>B2B - Business to Business: </strong>Compra de bienes y servicios aplicada a la relación entre un fabricante y el
                distribuidor de un producto. Un ejemplo son los portales donde se agrupan negocios para promover sus actividades, como los buscadores
                de seguros.</li>
                <li><strong>B2C - Business to Consumer: </strong>Las transacciones son directamente realizadas entre la compañía y los
                consumidores que son los usuarios finales de los productos y servicios. Amazon es una de las grandes empresas en este campo.</li>
                <li><strong>C2C - Consumer to Consumer: </strong>Permite a los clientes interactuar entre ellos. Mientras que el comercio
                tradicional requería que los clientes fueran al negocio a adquirir bienes y servicios, este modelo de negocio
                permite que los clientes lo hagan entre ellos. eBay es un claro ejemplo de este modelo de negocio.</li>
                <li><strong>C2B - Consumer to Business: </strong>Los propios clientes crean el valor y los negocios son quienes lo consumen. Un claro
                ejemplo es cuando un cliente redacta una opinión de un producto. En este modelo podemos encontrar desde un blogger hasta alguien que rellena
                una encuesta acerca de la calidad de un servicio o producto.</li>
            </ul>

            <strong>Modelos mixtos: </strong>
            <ul class="text-justify">
                <li><strong>B2C2C: </strong>Esta modalidad conprende las transacciones que se realizan entre el negocio y el cliente final y entre este y los clientes que tenga al ofrecer
                los servicios del primero.</li>
                <li><strong>B2B2C: </strong>designa una modalidad que se emplea en algunos casos para definir a los mercados llamados "mercados diagonales" en Internet, plataformas
                    en línea (online) que atienden tanto a transacciones comerciales entre negocios como entre negocios y consumidores finales.</li>
                <li><strong>B2B2C2C: </strong>Este modelo es el resultado del uso de los 2 anteriores.</li>
            </ul>

            <strong>Según el tipo de producto que vendan (y sector): </strong>
            <ul>
                <li><strong>Bienes físicos.</strong> Ejemplos: eBay, Amazon o Segundamano.</li>
                <li><strong>Productos digitales.</strong> Ejemplos: Steam, Origin.</li>
                <li><strong>Servicios.</strong> Ejemplos: Dropbox, Drive.</li>
            </ul>

            <strong>Según la diversidad ofrecida: </strong>
            <ul>
                <li>Especializados. Ejemplos: PcComponentes, Eurekakids, Party Fiesta.</li>
                <li>Genéricos. Ejemplos: Barganero, Segundamano.</li>
            </ul>

            <strong>Según la visibilidad del negocio: </strong>
            <ul>
                <li>Privados.</li>
                <li>Públicos.</li>
            </ul>

            <strong>Según el modo en el que se realiza la transacción: </strong>
            <ul>
                <li>Venta directa.</li>
                <li>Venta flash.</li>
                <li>Subastas.</li>
                <li>Mixto.</li>
                <li>Negociadas.</li>
            </ul>
        </p>
    </div>

        <div class="col-md-4">
            <div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
                <div class="list-group">
                    <a class="list-group-item">1. Introducción - Importancia</a>
                    <a class="list-group-item">2. Origen y evolución del Comercio Electrónico</a>
                    <a class="list-group-item">3. Definición de Comercio y Negocio Electrónico</a>
                    <a class="list-group-item">4. Maneras de vender en Internet</a>
                    <a class="list-group-item">5. Clasificación del Comercio Electrónico</a>
                    <a class="list-group-item">6. Pasos para crear una solución EC</a>
                    <a class="list-group-item">7. Consejos para emprendedores</a>
                    <a class="list-group-item">8. Conclusiones.</a>
                </div>
            </div>
        </div>
    </div>
</div>
