<div class="jumbotron4"></div>

<div class="container">
    <div class="page-header">
        <h1>Métodos de pago y legislación</h1>
        <p class="text-justify">
            En Internet para poder cobrar de esta forma es necesario que la tienda online instale una plataforma segura de pago,
            de una entidad bancaria o similar. Es el equivalente a un datáfono o TPV (Terminal de Punto de Venta) virtual que permite
            al comercio verificar la tarjeta bancaria del cliente a través de internet.
        </p>
        <p class="text-justify">
            La Ley 34/2002, de servicios de la sociedad de la información y del comercio electrónico,  es la norma reguladora del
            comercio electrónico y de otros servicios de internet cuando sean parte de una actividad económica.
        </p>
        <p class="text-justify">
            En esta sección trataremos los aspectos de estos temas que están fuertemente relacionados debido a la naturaleza de ambos.
        </p>
    </div>


</div>