<div class="jumbotron3">

</div>
<div class="container">
    <div class="page-header">
        <h1>Posicionamiento SEO</h1>
        <p class="text-justify">
            En esta sección trataremos las cuestiones relacionadas acerca del posicionamiento SEO y de las técnicas, herramientas y trucos que se usan
            a día de hoy para mejorar la visibilidad de nuestro sitio y aumentar el tráfico que tenemos en ella.
        </p>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>1. Situación en España</h1>
            <p class="text-justify">
                Actualmente en España, Google puede acaparar el 98% de las búsquedas que un usuario hace en la red. No estar bien posicionado puede suponer un pérdida
                de oportunidades enorme.
                <br>
                <br>
                El algortimo de posicionamiento de Google cmabia constantemente y evoluciona muy rápido hacia un modelo donde lo social y la interacción con sus servicios
                ganan importancia día a día (Google+, Youtube, Google Places, Grafo del conocimiento, etc.) Estar al día de los cambios, de las oportunidades nuevas, de
                la tendencia del mercado nos ayuda a crear estrategias SEO que permita a nuestros clientes crecer continuamente y mejorar día a día en tráfico y ventas.
                <br>
                <br>
                Estrategias innovadoras de Marketing Online que ayuden a mejorar con cada cambio de algoritmo y mejoren con el tiempo, obteniendo un mayor volumen de tráfico
                cualificado.
            </p>
        </div>
        <div class="col-md-4">
            <p align="center"><img src="assets/images/googleSpain.png" class="img-responsive" alt="Google Spain"></p>
            <p align="center">Fig. 1 - Google Spain</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h1>2. Por qué Google</h1>
            <p class="text-justify">
                A nivel español, Google es <b>el buscador</b>, a nivel de posicionamiento web y si el mercado está enfocado en España no vale la pena dedicarle horas
                a mirarse otro.
            </p>
            <p class="text-justify">
                Es muy importante estar en primeras posiciones de Google ya que puede ser la diferencia entre hacer que un proyecto venda o no, aunque el aspecto importante
                de esto es que no se debe estar en las primeras posiciones por las buenas, si no que sea debido a que la elección de palabras clave sea la adecuada para aportar
                <b>ventas.</b> De nada sirve aparecer en las primeras posiciones de venta de coches si tu comercio o negocio se dedica a la venta de mubles, por ejemplo.
                <br>
                <br>
                La auditoría SEO es el paso previo a cualquier campaña de marketing que se inicie y en ella se determina donde está el nicho.
            </p>
            <h2>2.1 Proceso del posicionamiento web</h2>
            <p class="text-justify">
                El posicionamiento web en buscadores es parte integrante del plan de marketing online y no se ha de entender como un actividad de la que no hay que tener en
                cuenta hasta que se ha creado el portal web y se haya dispuesto todo para la venta de productos pues de esta manera, estaría abocada al fracaso. La definición
                de la estrategia de posicionamiento web ha de ser única para cada caso pues el mercado, los competidores y la fortaleza y debilidades de la empresa así lo son.
            </p>

            <h2>2.2 Claves para el posicionamiento Web</h2>
            <p class="text-justify">
                A continuación se han seleccionado una serie de aspectos cruciales a la hora de idear una estrategia de posicionamiento web en la que se trata
                desde las palabras claves que podemos encontrar en los parráfos de nuestro sitio web hasta que herramientas se usan para optimizarla.
            </p>
            <h3>2.2.3 Contenido de valor</h3>
            <p class="text-justify">
                El contenido se podria dividir en 2 tipos, el contenido <b>de valor</b> y el contenido <b>comercial</b>. El contenido comercial es a lo que nos referimos
                acerca de la parte de mercado: catalogos, productos, servicios, la historia de la empresa, etc. pero esto no es lo que va a hacer en la mayoría de los casos
                que los usuarios se queden en tu página. Pongamos un ejemplo, ¿que se comparte en las redes sociales?¿Qué colocarías en un blog, las características de un producto
                o las opiniones y críticas de ese producto?
                <br>
                <br>
                Es algo sencillo que puedes comprobar a hacer cualquier búsqueda en Google, la mayoría de resultados que obtendrás serán de comunidades y foros en los que la gente
                pregunta acerca de un producto o servicio que están interesados en comprar.
            </p>

            <p align="center"><img src="assets/images/contentValue.png" class="img-responsive" alt="Contenidos de Valor"></p>
            <p align="center">Fig. 2 - Contenidos de valor (Fuente: www.vgsystems.es) </p>

            <p class="text-justify">
                Hay que centrarse primero en colocar algunas en posicionar algunas páginas con contenido de valor, como por ejemplo blogs o foros en los que se discutan
                los aspectos de lo que estemos vendiendo. Por ejemplo en que debo fijarme para contratar un plan de servicio de backup en la nube, que es lo que el usuario
                en cuestión necesita según sus expectativas.
                <br>
                <br>
                Lo mejor es crear comunidad en redes sociales para posicionar en buscadores el contenido de valor.
            </p>
            <p class="text-justify">
                Pero y este contenido de valor que va a hacer aumentar el tráfico en mi web, ¿cómo lo colocó en el sitio?¿Debo poner mucho o poco? La respuesta es cuanto más, mejor.
                Hay que aportar el máximo de valor posible para resolver el tema que se plantea.
                <br>
                <br>
                Aunque sin pasarse, hay que ser moderado con la cantidad de información con la que bombardeamos las redes sociales porque puede llegar el momento en el que saturemos a los
                usuarios y dejen de mostrar su interés, <b>calidad antes que cantidad</b>. Dedicale un poco más de tiempo a los contenidos que ya tengas para aprovechar al máximo su potencial.
                <br>
                <br>
                En esta categoria de malas prácticas que hay que evitar es el contenido repetitivo y reduntante.
            </p>

            <h3>2.2.4 Las redes sociales</h3>
            <p class="text-justify">
                Las redes sociales son protagonistas en el posicionamiento SEO. El objetivo es fomentar que los lectores compartan tus contenidos; hay que vincular el mundo
                offline de la empresa con el online y tienes que cuidar a tus embajadores para que participen de la manera más activa posible en los contenidos ya sea opinando,
                encuestas, foros, etc.
                <br>
                <br>
                El objetivo es aumentar las visitas a nuestra web y, por tanto, mejorar el ROI a través de un aumento de ventas directas de nuestro eCommerce. Optimizar los contenidos
                según las tendencias es una máxima desde e inicio del SEO, el crecimiento de las redes sociales puede influir tanto en el posicionamiento SEO que se debe
                prestar una especial atención y exprimir su potencial a nuestro favor.
            </p>
            <p class="text-justify">
                Para optimizar el posicionamiento SEO a través de las redes sociales hay tres pasos previos que realizar:
                <ul>
                    <li>Crea y construye una <b>audiencia de calidad</b>, interactúa con ellos, son tus clientes, saben lo que les gusta y debes saber que esperan de tu producto.</li>
                    <li><b>Analiza las tendencias.</b> Si sabes de que hablan tus clientes y los de tu competencia, sabrás que publicar para atraerles.</li>
                    <li><b>El orden de los factores no altera el resultado.</b> Hay que tener en cuenta los 4 grandes de las redes sociales ya que son los que copan
                    la mayoría del tráfico de este tipo.</li>
                </ul>
            </p>
            <h4><a href="https://plus.google.com/" target="_blank" >Google+</a></h4>
            <p class="text-justify">
                Es la que más valor aporta al SEO, ya que el algoritmo de Google valora muy bien la integración de su propia red social en nuestra propia web.
                <ul>
                    <li>Aprovecha el Posicionamiento SEO en Google, debes aportar contenidos en su propia plataforma.</li>
                    <li>Google+ mejora el Pagerank de tu Web.</li>
                    <li>Google+ Authorship Markup. La marca de autor y la autenticidad de los contenidos es vital para el posicionamiento SEO.</li>
                    <li>El algoritmo Google Hummingbird trajo un cambio total en la propia filosofía de Google, aportando mayor importancia a los marcadores sociales.</li>
                </ul>

                <p align="center"><img src="assets/images/google-plus-logo.png" class="img-responsive" alt="Google Plus"></p>
                <p align="center">Fig. 3 - Google Plus (Fuente: www.google.es)</p>

            </p>

            <h4><a href="https://www.facebook.com/" target="_blank">Facebook</a></h4>
            <p class="text-justify">
            <ul>
                <li>Más de 1.000 millones de clientes están a tu alcance.</li>
                <li>Integra botones sociales de Facebook en tu web.</li>
                <li>Crea anuncios patrocinados. Aumenta tu audiencia.</li>
                <li>Genera contenidos del interés de tu audiencia.</li>
                <li>Integra aplicaciones, un booking engine en tu pagina de Facebook.</li>
            </ul>

            <p align="center"><img src="assets/images/Facebook512.png" class="img-responsive" alt="Facebook"></p>
            <p align="center">Fig. 3 - Facebook (Fuente: www.facebook.es)</p>

            </p>

            <h4><a href="https://twitter.com/" target="_blank">Twitter</a></h4>
            <p class="text-justify">
                La inmediatez y la capacidad de comunicarse con una gran audiencia asi como la capacidad de interactuar con usuarios, son cualidades únicas de Twitter.

            <ul>
                <li>Integra botones sociales de Twitter en tu web.</li>
                <li>Tuitea links a tu web.</li>
                <li>Crea #Hashtags.</li>
                <li>Retuitea contenidos de interés para tu audiencia.</li>
                <li>El tamaño no es lo más importante. El numero de followers esta bien, pero no es lo más importante.</li>
            </ul>

            <p align="center"><img src="assets/images/twitter.png" class="img-responsive" alt="Twitter"></p>
            <p align="center">Fig. 4 - Twitter (Fuente: www.twitter.es)</p>

            </p>

            <h4><a href="https://es.linkedin.com/" target="_blank">LinkedIn</a></h4>
            <p class="text-justify">
                La red social profesional por excelencia es una gran oportunidad.
            <ul>
                <li>Integra botones sociales de LinkedIn en tu web.</li>
                <li>Publica productos, servicios y novedades.</li>
                <li>Crea grupos de interés para tus clientes.</li>
                <li>Publica ofertas laborales en tu perfil de empresa.</li>
            </ul>

            <p align="center"><img src="assets/images/linkedIn.png" class="img-responsive" alt="LinkedIn"></p>
            <p align="center">Fig. 5 - LinkedIn (Fuente: https://brand.linkedin.com/downloads#logos)</p>

            </p>

            <h3>2.2.5 Aportar más valor</h3>
            <p class="text-justify">
                <ul>
                    <li>Contactar otras personas, especialistas o blogueros para que participen en el desarrollo del contenido y aporten su punto de vista.</li>
                    <li>Puedes lanzar una pregunta en redes sociales y mostrar las respuestas. También puedes buscar tweets relacionados con el tema e insertar aquellos que aporten valor al artículo</li>
                    <li>Puedes buscar vídeos relacionados y agregar alguno o hacer una lista de reproducción del tema. Puedes hacer tus propios vídeos y resumir tus contenidos o presentarlo de otra manera.</li>
                    <li>Pensar de una manera disruptiva, te puede ayudar a diferenciarte y aportar valor desde nuevos puntos de vista.</li>
                </ul>
            </p>

            <h3>2.2.6 Aligerar la velocidad de carga</h3>
            <p class="text-justify">
                Google trata de mostrar lo menos posible aquellas páginas que son muy lentas, anticuadas y en flash. Está empeñado en ofrecernos una experiencia muy buena
                al usuario de Internet. Si las páginas fueran lentas, lo usaríamos menos.
                <br>
                <br>
                Asi una de las prioridades es quitarle peso a la página. Los complementos Javascript y las imágenes son el tipo de recursos que más pesan en una web. Comprime
                tus imágenes con <a href="http://www.jpegmini.com/" target="_blank">JpegMini</a> o <a href="www.smushit.com/" target="_blank">Smush It</a>. Reducelas antes
                de subirlas al tamaño en que las vas a mostrar.
                <br>
                <br>
                Evitar el uso de Java, plugins y widgets innecesarios. Trata de juntarlos en un Trata de juntarlos en un único archivo, comprimirlos y retrasar su carga. Y recuerda
                que es imprescindible tener un sistema de Caché y compresión en Gzip.
            </p>

            <h3>Más Información</h3>
            <p class="text-justify">
                Existen una grandísima variedad de técnicas y herramientas para mejorar el posicionamiento SEO y diseñar una estrategia de marketing efectiva. En este tema solo nos
                hemos acercado a la superficie de lo que es el posicionamiento y las distintas posturas que se pueden adoptar a la hora de su implementación y existen muchos sitios
                en Internet que ayudan a aquellos que necesitan orientación para saber como al menos comenzar su camino en el mundo del SEO. Algunas de estas páginas son:
            </p>
            <ul class="text-justify">
                <li><a href="http://brunovd.com/claves-posicionamiento-web/" target="_blank">BrunoVD</a></li>
                <li><a href="http://www.posicionamientoseo.co/como-usar-las-redes-sociales-para-un-posicionamiento-web-efectivo" target="_blank">Posicionamiento SEO CO</a></li>
                <li><a href="http://www.salvadorpuig.com/las-redes-sociales-y-el-posicionamiento-seo.html" target="_blank">Salvador Puig</a></li>
                <li><a href="http://luismvillanueva.com/seo/posicionamiento-seo-buscadores.html" target="_blank">Luis M Villanueva</a></li>
            </ul>

            <h2>2.3 Herramientas SEO</h2>
            <p class="text-justify">
                Existen incontables herramientas que ayudan a optimizar la estrategia SEO que se ha diseñado para una campaña de marketing y siguen apareciendo nuevas y mejorando
                las ya existentes, por lo que es un mundo en constante evolución.
                <br>
                <br>
                Después de haber trabajado un tiempo con distintas herramientas, se llegan a 2 conclusiones:
                <br>
                <ol>
                    <li>Toda la información que nos ofrecen estas herramientas la podemos encontrar por nuestra cuenta, pero el simple hecho de que una herramienta reduzca un proceso
                        en un 10% ya merece la pena.</li>
                    <li>Todas las buenas herramientas ofrecen más o menos la misma información solo que con pequeñas diferencias y pintada de otro color, al final es cuestión de gustos.</li>
                </ol>
            </p>

            <p class="text-justify">
                Hay una gran diversidad de herramientas SEO que podemos integrar con nuestro sitio y podemos dividirlas en las siguientes categorías:
            </p>
                <ul>
                    <li>Suites</li>
                    <li>Análisis de backlinks</li>
                    <li>Análisis on-site</li>
                    <li>Análisis de keywords</li>
                    <li>Ranking de keywords</li>
                    <li>Link Building</li>
                    <li>Plug-ins para el navegador</li>
                </ul>
            <p class="text-justify">
                Dentro de estas categorías podemos encontrar herramientas de pago, las cuales ofrecen unas funcionalidades mucho más específicas a la hora de
                gestionar las operaciones SEO en nuestro portal y otras gratuitas que podemos contratar desde el primer momento en que comenzamos el desarrollo
                de nuestro sitio web.

                En los siguientes apartados analizaremos las prestaciones y principales características de las herramientas que ofrece la suite de Google, ya que
                es el buscador por excelencia en España y el que ordena las páginas cuando se realiza una búsqueda y premia a aquellos que utilizan sus herramientas y
                servicios colocándolos en los primeros lugares.
            </p>

            <h2>3. Posicionamiento SEO - Google</h2>
            <p class="text-justify">
                Google es un motor de búsqueda completamente automatizado que utiliza unos programas de software conocidos como "arañas" para rastrear la Web periódicamente
                en busca de sitios que se puedan añadir a su índice.
                <br>
                <br>
                El propósito de Google es el de mostrar el contenido de Internet de una forma justa y excta. Para poder alcanzar este objetivo, Google ofrece una serie de
                <a href="https://support.google.com/webmasters/answer/answer.py?answer=35769" target="_blank"> directrices</a> y <a href="https://support.google.com/webmasters/answer/topic.py?topic=8522" target="_blank">sugerencias</a>
                orientadas a la creación de sitios que se puedan rastrear correctamente.

                <p align="center"><img src="assets/images/google-seo.png" class="img-responsive" alt="Google SEO"></p>
                <p align="center">Fig. 6 - Google SEO (Fuente: http://rack.0.mshcdn.com/</p>
            </p>

            <h3>Google Analytics</h3>
            <p class="text-justify">
                <a href="http://www.google.es/intl/es/analytics/" target="_blank">Google Analytics</a> no solo le permite medir las ventas y las conversiones, sino que también le ofrece información sobre cómo los visitantes utilizan su sitio, cómo han llegado a él y qué puede hacer para que sigan visitándolo.
                Las funciones que este servicio de Google ofrece entre otras son:
            </p>
                <ul class="text-justify">
                    <li><b>Herramientas de análisis: </b>Google Analytics se basa en una plataforma de informes potente y fácil de usar para que pueda decidir qué datos desea ver y personalizar sus informes con solo unos clics.</li>
                    <li><b>Analítica de contenido: </b>Los informes de contenido le muestran qué partes de su sitio web tienen un buen rendimiento y qué páginas son más populares para poder crear una mejor experiencia para sus clientes.</li>
                    <li><b>Analítica de redes sociales: </b>La Web es un lugar social, y Google Analytics mide el éxito de sus programas publicitarios para redes sociales. Puede analizar la interacción de los visitantes con las funciones para compartir de su sitio
                        (como el botón +1 de Google) y el modo en que se implican con su contenido en las plataformas sociales.</li>
                    <li><b>Analítica de móviles: </b>Google Analytics le ayuda a medir el impacto de los dispositivos móviles en su empresa. Además, si crea aplicaciones para móviles, Google Analytics ofrece kits de desarrollo de software para iOS y Android de forma
                        que pueda evaluar cómo usan los usuarios su aplicación.</li>
                    <li><b>Analítica de conversiones: </b>Descubra a cuántos clientes atrae, cuánto vende y cómo se implican con su sitio con las funciones de análisis de Google Analytics.</li>
                    <li><b>Analítica de publicidad: </b>Aproveche al máximo su publicidad gracias a la información sobre el rendimiento de sus anuncios en redes sociales, para móviles, de la red de búsqueda y de display. Enlace la actividad del sitio web con sus campañas
                        de marketing para obtener una perspectiva completa y mejorar el rendimiento de su publicidad.</li>
                </ul>

            <p align="center"><img src="assets/images/google-analytics-logo.png" class="img-responsive" alt="Google Analytics"></p>
            <p align="center">Fig. 7 - Google Analytics (Fuente: http://www.wpromote.com/blog/)</p>

            <p class="text-justify">
                Además Google ofrece una galería de aplicaciones de Google Analytics que saca partido de un nuevo modo permitiendo el acceso a diversas aplicaciones que ayudan al usuario a recopilar datos
                más relevantes, automatizar informas y organizar los datos en relacion con su negocio.
            </p>

            <h3>Google Adwords</h3>
            <p class="text-justify">
                <a href="https://www.google.es/adwords/" target="_blank">Google Adwords</a> es el programa que utiliza <a href="http://es.wikipedia.org/wiki/Google" target="_blank">Google</a> para ofrecer publicidad patrocinada a potenciales anunciantes. Los anuncios
                patrocinados de Adwords aparecen en:
            </p>
            <ul>
                <li>Simultáneamente a los resultados de búsquedas naturales u orgánicas.</li>
                <li>En zonas de páginas web, en forma de banners, que pueden ser imágenes, vídeos o texto. Esto se conoce por los creadores de páginas web como <a href="http://www.google.com/adsense/start/" target="_blank">Google Adsense</a>.</li>
            </ul>

            <p align="center"><img src="assets/images/adwords-logo.png" class="img-responsive" alt="Google AdWords"></p>
            <p align="center">Fig. 8 - Google AdWords (Fuente: http://rack.0.mshcdn.com/)</p>

            <h4>¿Por qué Google AdWords?</h4>
            <ul>
                <li>Consigue más clientes.</li>
                <li>Anúnciate de forma local o global.</li>
                <li>Llega a las personas adecuadas en el momento oportuno.</li>
            </ul>

            <h3>Google Pagespeed</h3>
            <p class="text-justify">
                <a href="https://developers.google.com/speed/pagespeed/" target="_blank">Google PageSpeed</a> es un conjunto de herramientas que analiza y optimiza tu sitio web e implementa
                una serie de mecanismos para mejorar el rendimiento de ella.
            </p>
            <p class="text-justify">
                Páginas rápidas y optimizadas significa llegar a tener más visitas, retenerlos mejor y convertir todo esto en ventas. Estas herramientas están diseñadas para ayudar a mejorar
                el rendimiento de las páginas web. Te ayudan a identificar las mejores prácticas que le van mejor a tu sitio web.
            </p>

            <p align="center"><img src="assets/images/googlepagespeed.jpg" class="img-responsive" alt="Google PageSpeed"></p>
            <p align="center">Fig. 9 - Google PageSpeed (Fuente: https://raiolanetworks.es/)</p>


            <p class="text-justify">
                Para comenzar a usarlo basta con introducir la URL de tu página web y PageSpeed se pondrá a trabajar para indicarte los puntos débiles de tu página en cuento a rendimiento -
                <a href="https://developers.google.com/speed/pagespeed/insights/" target="_blank">Enlace</a>.
            </p>

            <h3>Google Keyword Planner</h3>
            <p class="text-justify">
                El <a href="https://adwords.google.com/KeywordPlanner" target="_blank">Planificador de palabras clave</a> es como un taller para crear campañas de la Red de búsqueda o para ampliar las existentes. Puede buscar ideas de palabra clave y de grupo de anuncios,
                obtener estadísticas del historial, conocer el posible rendimiento de una lista de palabras clave e incluso crear una lista de palabras clave combinando varias listas de términos.
                Esta herramienta gratuita de AdWords también puede ayudarle a elegir pujas y presupuestos competitivos para sus campañas.
            </p>
        </div>
    </div>
    <hr>
    <footer class="container">
        <p>Posicionamiento SEO, 2014</p>
    </footer>
</div>