<div class="container">
    <h3>Pasos para crear una solución EC</h3>
    <p class="text-justify">
        En el tradicional ciclo de vida del desarrollo de software, nos encontramos 6 fases:
    <ul>
        <li>Identificación del problema.</li>
        <li>Análisis.</li>
        <li>Diseño lógico.</li>
        <li>Diseño físico.</li>
        <li>Implementación.</li>
        <li>Mantenimiento.</li>
    </ul>
    Aunque también usada, recientemente están apareciendo nuevas metodologías para el desarrollo de software de EC.
    <br>
    Aproximación para desarrollar una capa de EC:
    <ul>
        <li>Identificar, justificar y planificar sistemas de EC.</li>
        <li>Crear una arquitectura de EC.</li>
        <li>Seleccionar una opción de desarrollo.</li>
        <li>Instalar, testear, integrar y desplegar las aplicaciones EC.</li>
        <li>Ejecución, mantenimiento y actualizaciones.</li>
    </ul>

    <h4>Identificar, justificar y planear sistemas EC</h4>
    <ul>
        <li>Hay que identificar que procesos de negocio van a cubrir la aplicación de EC.</li>
        <li>Establecer los requisitos de los procesos de negocio que debe cubrir la aplicación.</li>
        <li>Analizar la aplicación para garantizar que tendrá las funcionalidades requeridas para satisfacer los requisitos establecidos.</li>
        <li>Tener en cuenta que el desarrollo de la aplicación puede tener influencia sobre procesos de negocio
            actuales que deban ser reestructurados.</li>
    </ul>

    <h4>Crear una arquitectura EC</h4>
    Una arquitectura EC es un plan para organizar la infraestructura y aplicaciones subyacentes del sitio. El plan especifica:
    <ul>
        <li>Información y datos necesarios para cumplir con los objetivos y visión del negocio.</li>
        <li>Módulos de aplicación que proporcionarán y manejarán la información y datos.</li>
        <li>Hardware y software en los que se ejecutarán los módulos.</li>
        <li>Necesidades de seguridad, escalabilidad y confiabilidad requerida por las aplicaciones.</li>
        <li>Recursos humanos necesarios.</li>
    </ul>

    <h4>Seleccionar una opción de desarrollo</h4>
    Enfoques diferentes y alternativos para crear aplicaciones EC:
    <ul>
        <li>Construcción propia.</li>
        <li>Construcción de la solución personalizada por una empresa externa.</li>
        <li>Comprar una solución existente, e instalarla con o sin modificaciones (p.e. Magento, Prestashop...).</li>
        <li>Emplear plataformas SaaS (Software as a Service), es decir, herramientas que se pueden utilizar sin necesidad
            de comprar una licencia, únicamente se paga un alquiler o renta mensual por el uso del servicio.</li>
    </ul>

    <h4>Instalar, testear, integrar y desplegar las aplicaciones EC</h4>
    <p class="text-justify">
        Se hace operativa la aplicación en el entorno hardware y red, integrándola con otros recursos del sistema web
        (p.e. Base de datos de productos). Además se prueba y se pone en marcha un plan facilitar la adaptación a la nueva aplicación.
    </p>

    <h4>Ejecución, mantenimiento y actualizaciones</h4>
    <p class="text-justify">
        Las aplicaciones de EC están en ejecución mucho tiempo y de manera continua. No obstante, deben de hacerse labores
        de mantenimiento. Además, el análisis sobre los patrones de uso determinarán que cambios son necesarios hacer para mejorar su uso.
    </p>
    </p>

    <h3>Consejos para emprendedores</h3>
    <p class="text-justify">
        En una tienda online, “tienda” no es ni mucho menos el todo. El objetivo es vender productos a personas obteniendo
        ganancias, con todo lo que conlleva esto: conocimiento del sector, gestión de
        recursos y existencias, trade marketing, visibilidad y atención de los visitantes en la tienda.
        <br>
        Un e-commerce es la tienda pero sobre todo son clientes y servicios.
        <br>
        <strong>Consejo: </strong>Formación > estrategia > usuarios > tecnología.
        <br>
        <br>
    <ul>
        <li><strong>Bases de EC: </strong>Conocimiento del negorico y de la tecnología, tiempo, dinero, cariño, etc.</li>
        <li><strong>Enforque LEan Startup (Eric Ries): </strong> Metodología para la creación de <strong>startup</strong>
            (nuevo negocio basado en una idea de emprendimiento bajo condiciones de extrema incertidumbre) que pretende minimizar riesgos.
            Se basa en el ciclo: Construir – Medir – Aprender (Falla rápido y Falla barato). Herramienta: Lean Canvas, ayuda a diseñar modelos de negocio.</li>
        <li><strong>Analizar idea y mercado: </strong>Búsqueda de un nicho de mercado.</li>
        <li><strong>Conocer tecnología y nuestras posibilidades: </strong> Hay que tener el control.</li>
        <li><strong>El objetivo es vender: </strong> Sin visitas no hay ventas.</li>
    </ul>
    </p>

    <h3>Conclusiones</h3>
    <p class="text-justify">
    <ul>
        <li>Tema de sumo interés en la actualidad.</li>
        <li>Proporciona una serie de ventajas a la labor empresarial/comercial.</li>
        <li>Confluyen ideas de diverso origen: Social, Tecnológico, Empresarial, Marketing, Jurídico, Psicología,
            Informático, Seguridad, Matemático, Social...</li>
        <li>Dentro del campo de la Informática: Diseño Web (Tecnologías y Sistemas Web), Usabilidad (Interacción Persona-Ordenador),
            Inteligencia Artificial (Sistemas Inteligentes), Bases de Datos, Redes (Redes de Computadores), Sistemas Distribuidos, Seguridad y Privacidad (Seguridad en Sistemas Informáticos)...</li>
    </ul>
    </p>
</div>