<div class="container">
    <div class="page-header">
        <h1>Tema 2 - Infraestructuras para el eCommerce</h1>
    </div>

    <h2>2.1 Maneras de vender</h2>
    <p class="text-justify">
        Las formas más populares de vender en internet son los <strong>Portales gestionados por terceros </strong>o marketplaces,<strong> tiendas on-line o virtuales</strong> y <strong>blogs y redes sociales.</strong>
    <ul>
        <li><strong>Portales gestionados por terceros o e-marketplaces: </strong> Sitios como Amazon, eBay, Todocolección, etc. Sitios con capacidad de EC con los que existan acuerdos.</li>
        <li><strong>Tiendas virtuales: </strong>Creación propia o por empresa externa: desde cero o empleando plantillas comerciales, producto de negocio de empresas o soluciones opensource (p.e. Magento, PrestaShop,...).</li>
        <ul>
            <li><strong>Arrendamiento de servicios de EC.</strong></li>
        </ul>
        <li><strong>f-Commerce.</strong></li>
    </ul>
    </p>
    <h3>2.1.1 Portales gestionados por terceros o e-marketplaces</h3>
    <p class="text-justify">
        Esta solución es ideal para aquellos que se quieran dedicar íntegramente a la venta de sus productos y no se preocupen de la parte del
        mantenimiento del servidor (tanto de la tecnología como de los procesos) y lo dejan en manos del proveedor. Es la solución con la que más
        rápidamente podemos poner en funcionamiento nuestro negocio por el menor precio y la menor cantidad de trabajo pero sin dejar de dar una
        imagen profesional (dominio propio, temas premium, etc.).

        En este tipo de solución se paga por uso o subscripción, mantenimiento y soporte, infraestructura. Además supone la transición del modelo tradicional
        de las aplicaciones hacia el nuevo modelo sobre Internet basado en servicios (que no aplicaciones) como ha se ha realizado hasta ahora.
        <br>
        <br>
        Podemos distinguir 3 servicios: SaaS, PaaS e IaaS.
        <ul>
            <li>SaaS (Software as a Service)</li>
            <li>PaaS (Platform as a Service)</li>
            <li>IaaS (Infrastructure as a Service)</li>
        </ul>
    </p>
    <br>
        <h4>SaaS - Software as a Service</h4>
    <p class="text-justify">
        Se trata de cualquier servicio en la web. En este tipo de servicios nosotros accedemos normalmente a traves del navegador sin atender al software. Todo el desarrollo,
        mantenimiento, actualizaciones y copias de seguridad es responsabilidad del proveedor. Nosotros tenemos poco control porque nos situamos en la capa más alta de la capa
        de servicio.
        <br>
        <br>
        Ejemplos populares son: Google Docs, Salesforce, Dropbox, Gmail...
        <br>
        <p align="center">
            <img src="assets/images/gmail-logo.jpg" class="img-responsive" alt="Gmail">
        <p align="center">Fig.1 - Gmail (Fuente: www.gmail.es).</p>
    </p>
    <h4>PaaS - Platform as a Service</h4>
    <p class="text-justify">
        Es el punto en donde los desarrolladores empezamos a tocar y desarrollar nuestras propias aplicaciones que se ejecutan en la nube. En este caso, nuestra única
        preocupación  es la construcción de nuestra aplicación, ya que la infraestructura nos la da la plataforma. Es un modelo que reduce bastante la complejidad a la hora
        de desplegar y mantener aplicaciones ya que las solciones PaaS gestionan automaticamente la escalabilidad usando más recursos si fuera necesario.
        <br>
        <br>
        Ejemplos populares: Google App Engine que permite desarrollar aplicaciones en Java o Python o Heroku que hace lo propio con Rails y Django.
    </p>
        <br>
        <p align="center">
            <img src="assets/images/app-engine.png" class="img-responsive" alt="Gmail"></p>
        <p align="center">Fig.2 - Google App Engine (Fuente: myanmarhub).</p>

    <h4>IaaS - Infrastructure as a Service</h4>
    <p class="text-justify">
        Tendremos mucho más control que con el anterior modelo, aunque a cambio de eso tendremos que encargarnos de la gestión de infraestructura.

        El ejemplo perfecto es el proporcionado por <a href="http://aws.amazon.com/es/" target="_blank" title="Amazon Web Service">Amazon Web Service (AWS)</a>
        que nos provee de una serie de servicios como EC2 que nos permite manejar MV en la nube.
        <br>
    </p>

        <p align="center"><img src="assets/images/AWS.png" class="img-responsive" alt="AWS"></p>
        <p align="center">Fig.3 - Amazon Web Services (Fuente: Prodasoftware).</p>

    <p class="text-justify">
        La principal diferencia es que nos otros nos ocupamos de escalar nuestras aplicaciones.
        <br>
        <br>
        Ademas de AWS, otros ejemplos son <a href="http://www.rackspace.com/es/cloudRackspace" target="_blank" title="Rackspace Cloud">Rackspace Cloud</a> o <a href="http://www.vmware.com/es/products/vcloud-suite" target="_blank" title="vCloud">vCloud</a> de VMWare.
    </p>


    <!--<h3>Social Commerce</h3>
    <p class="text-justify">
        El social commerce es la fórmula que se ofrece para atender a un público que demanda cada vez mas información y
        busca ofertas personalizadas: facilitando las herramientas necesarias para la interacción marca-usuario y usuario-usuario.
        <br>
        Introduce las redes sociales en la compra y venta online de productos y servicios. Las plataformas que mejor
        permiten desarrollar social commerce son: Facebook, Pinterest, Twitter.
        <br>
        <br>
        Ventajas del <strong>Social Commerce:</strong>
    <ul class="text-justify">
        <li><strong>Visibilidad: </strong>gran número de usuarios, con una capacidad de difusión ilimitada. Si un
            producto gusta será compartido, generando contenido.</li>
        <li><strong>Compromiso: </strong>fomenta la relación comprador-marca/empresa, aumentando el compromiso en ambas  direcciones.</li>
        <li><strong>Personalización: </strong>la segmentación nos permite llevar productos personalizados, qué ofrecer a quién.</li>
        <li><strong>Confianza: </strong>una recomendación recibida del entorno aumenta la confianza.</li>
        <li><strong>Fidelización: </strong>se premia a los seguidores con descuentos o con promociones que solo están disponibles a través de enlaces
            colocados en las redes sociales que llevan a la página de la tienda.</li>
        <li><strong>Facebook: </strong>Cuenta con la información y tecnologías para personalizar al máximo la
            experiencia de compra en todas sus fases; desde la presentación de productos, hasta el pago.
            Su interés e inversión sigue creciendo en esta dirección pensando en que en un futuro gran parte
            de las compras online se harán por este canal.</li>
        <li><strong>Pinterest: </strong>Permite una magnífica visualización del producto y organización según categorías,
            además de introducir etiquetas de precio. Sirven para “vender” el producto sobre todo visualmente y enlazar
            con la tienda online para realizar la transacción.</li>
        <li><strong>Twitter: </strong>Permitir a los comercios ofrecer sus productos y servicios directamente desde un tuit.</li>
    </ul>
    </p>
    <h4>f-Commerce</h4>
    <p class="text-justify">
    <ul>
        <li>Aplicaciones que te permiten crear una vidriera (tipo catálogo) en Facebook pero la operación de venta se hace fuera.</li>
        <li>Aplicaciones que permiten crear una tienda completa en Facebook.</li>
        <li>Aplicaciones que integran e-commerce con Facebook.</li>
    </ul>
    <div align="center">
        <img src="assets/images/Facebook512.png" class="img-responsive" alt="Facebook">
        <br>
        Fig. 5 - Facebook (Fuente: https://developers.facebook.com/).
    </div>

    </p>

    <h4>Pinterest</h4>
    <p class="text-justify">
        Pinterest se está convirtiendo en la fuente más influyente de tráfico de referencia del comercio electrónico social.
        Es un gran tablón donde colgar imágenes y vídeos que compartir con todo el mundo (cuenta con los Rich Pins). Existe un botón llamado
        “Pin It” con el que se motiva a las personas a pinear lo que les ha gustado, guardándolo en sus respectivos tablones ya sea para
        compartirlo o para adquirirlo posteriormente. Se puede subir imágenes de las webs, cada imagen tiene asociada su url por lo que
        pueden enlazar a la web de la tienda, sirve para enlazar imágenes de productos con tienda online.

    <div align="center">
        <img src="assets/images/Pinterest_Logo_Red.png" class="img-responsive" alt="Pinterest">
        <br>
        Fig. 6 - Pinterest (Fuente: https://business.pinterest.com/es/brand-guidelines).
    </div>

    </p>

    <h4>Twitter</h4>
    <p class="text-justify">
        Twitter quiere convertirse en una plataforma para EC, tiene muchas características que lo hacen especialmente interesante:
        movilidad, la personalización y la geolocalización.
        <br>
        Actualmente se emplea en marketing, para comunicar información de la empresa (de manera divertida).

    <div align="center">
        <img src="assets/images/twitter.png" height="190" alt="Twitter">
        <br>
        <br>
        Fig. 7 - Twitter (Fuente: https://about.twitter.com/es/press/brand-assets).
    </div>
    </p>

    <h4>Blogs</h4>
    <p class="text-justify">
        Blogs nacen como mecanismo para expresar una afición personal (sonido válvulero de Whiteboxer Audio).
        <br>
        Muchos blogs comienzan a despertar el interés de la gente y surge la idea de convertir en negocio el objeto del blog
        (desarrollar equipos de válvulas): Blog-Commerce; o acompañar la tienda con un blog donde se proporciona información útil.
        <br>
        Blogger, WordPress permiten la venta a través de sus blogs, para ello lo más sencillo y rápido es emplear widgets de
        terceros que nos permitan construirnos nuestro formulario de venta, reserva, promoción o minitienda.
        <br>
        <br>
    <div align="center">
        <img src="assets/images/blogs.jpg" class="img-responsive" alt="Twitter">
        <br>
        Fig. 8 - Blogs (Fuente: documania20.wordpress.com).
    </div>
    </p>

    <p class="text-justify">
        <strong>Desventajas </strong>del Social Commerce:
    <ul>
        <li>Uso en un propósito distinto al que originalmente han tenido esas plataformas, con dos consecuencias: no están preparadas
            y rechazo por parte de los usuarios.</li>
        <li>No existe la mejor forma, todo depende de lo que se necesite, del tipo de negocio, del punto de partida y los objetivos que se pretenden alcanzar.</li>
    </ul>
    </p>

    <h3>Blogs + Templates que permiten eCommerce</h3>
    <p class="text-justify">
        Esta solución de eCommerce normalmente viene acompañada de otra solución ya que esta se orienta más al marketing de contenidos, es decir,
        su misión en la gran mayoría de casos es la de redirigir el tráfico hacia la página web principal o mejorar el posicionamiento en los buscadores.

        Esta siempre es una buena idea para poder atraer a un mayor número de clientes potenciales que visiten el blog ofreciendo algún tipo de información
        adicional acerca de las actividades del negocio o directamente por la información descriptiva de los productos que se venden y enlazarlo con el producto en la tienda.

        Tanto Wordpress como Blogger son opciones válidas para este fin.
    </p>

    <h3>Gestores de contenido (CMS) generales</h3>
    <p class="text-justify">
        Totalmente recomendables para el desarrollo de una solución eCommerce ya que hay un buen soporte a través de módulos,
        plugins y temas desarrollados específicamente para soluciones eCommerce.

        Personalmente, esta no sería una de mis primeras opciones ya que existiendo soluciones creadas especificamente para las
        actividades de eCommerce como las que se verán en el apartado siguiente, la instalación de plugins, módulos y temas que pueden
        ocasionar problemas de compatibilidad tanto con la instalación del propio CMS como entre ellos.
    </p>

    <h3>Gestores de contenidos específicos</h3>
    <p class="text-justify">
        Para la creación de una tienda que no está pensada para grandes volúmenes de transacciones, en otras palabras, un negocio pequeño,
        recomendaría el uso de Prestashop ya que cubre perfectamente las necesidades de un negocio de ese tamaño ya que se diseña con rapidez,
        a un precio razonable (en tema de módulos y temas) y que no produzca problemas técnicos.
    </p>

    <h3>DIY: Do It Yourself</h3>
    <p class="text-justify">
        Esta solución requiere un conocimiento más profundo acerca de las tecnologías existentes a la hora de la programación
        y diseño de una página web, además claro está del enfoque que se le dé al negocio, cosa que hay que hacer en todas las
        soluciones eCommerce, no solo en esta en particular.

        Por la parte de la programación, habría que elegir un lenguaje que se adaptara a las necesidades del negocio como que
        funcionalidades se van a implementar, que actividades se tienen intención de desarrollar en la web, etc. Además, hay que
        tener presente una serie de características referentes a la calidad del servicio que el cliente espera una vez accede a
        nuestra web o servicio escalabilidad, seguridad, disponibilidad, eficiencia, etc.

        Por otra parte, el diseño es totalmente personalizable, no estamos atados a lo definido por el tema que en otras soluciones
        eCommerce delimita en gran medida las modificaciones visuales que podemos realizar en nuestra página.
    </p>-->
</div>