<div class="jumbotron2"></div>
<div class="container">
    <div class="page-header">
        <h1>Infraestructuras para el eCommerce</h1>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h2>1. Maneras de vender</h2>
            <p class="text-justify">
                El primer paso para la creación de un portal web que permita vender los productos o servicios que una empresa pueda ofrecer es la de realizar un <b>análisis de los requisitos</b>
                sobre las necesidades reales y los objetivos que se proponen cumplir con la puesta en la web de los bienes de una empresa. Existen casos desde la empresa que únicamente necesita una <i>single-page application</i> o
                en castellano, uná web de sólo una página de formato panfletario hasta la que necesita la creación de un portal online con soporte de multitienda.
            </p>

            <p class="text-justify">
                A continuación se muestran las formas en las que una empresa grande, mediana o pequeña, puede desde vender en la web hasta promocionarse en distintos portales para aumentar su índice de visitas y
                por lo tanto, posibles compradores. Además, se hará un pequeño análisis de cada una de ellas para así crear una idea inicial de hacia donde orientar la solución de comercio electrónico que se
                debe elegir en función de las necesidades empresariales.
            </p>
            <p class="text-justify">
                Las formas más populares de vender en internet son los <strong>Portales gestionados por terceros </strong>o marketplaces,<strong> tiendas on-line o virtuales</strong> y <strong>blogs y redes sociales.</strong>
            <ul>
                <li><strong>Portales gestionados por terceros o e-marketplaces: </strong> Sitios como Amazon, eBay, Todocolección, etc. Sitios con capacidad de EC con los que existan acuerdos.</li>
                <li><strong>Tiendas virtuales: </strong>Creación propia o por empresa externa: desde cero o empleando plantillas comerciales, producto de negocio de empresas o soluciones opensource (p.e. Magento, PrestaShop,...).</li>
                <ul>
                    <li><strong>Arrendamiento de servicios de EC.</strong></li>
                </ul>
                <li><strong>f-Commerce.</strong></li>
            </ul>
            </p>
            <h3>1.1 Portales gestionados por terceros o e-marketplaces</h3>
            <p class="text-justify">
                Esta solución es ideal para aquellos que se quieran dedicar íntegramente a la venta de sus productos y no se preocupen de la parte del
                mantenimiento del servidor (tanto de la tecnología como de los procesos) y lo dejan en manos del proveedor. Es la solución con la que más
                rápidamente podemos poner en funcionamiento nuestro negocio por el menor precio y la menor cantidad de trabajo pero sin dejar de dar una
                imagen profesional (dominio propio, temas premium, etc.).

                En este tipo de solución se paga por uso o subscripción, mantenimiento y soporte, infraestructura. Además supone la transición del modelo tradicional
                de las aplicaciones hacia el nuevo modelo sobre Internet basado en servicios (que no aplicaciones) como ha se ha realizado hasta ahora.
                <br>
                <br>
                Podemos distinguir 3 servicios: SaaS, PaaS e IaaS.
                <ul>
                    <li>SaaS (Software as a Service)</li>
                    <li>PaaS (Platform as a Service)</li>
                    <li>IaaS (Infrastructure as a Service)</li>
                </ul>
            </p>
            <br>
                <h4>SaaS - Software as a Service</h4>
            <p class="text-justify">
                Se trata de cualquier servicio en la web. En este tipo de servicios nosotros accedemos normalmente a traves del navegador sin atender al software. Todo el desarrollo,
                mantenimiento, actualizaciones y copias de seguridad es responsabilidad del proveedor. Nosotros tenemos poco control porque nos situamos en la capa más alta de la capa
                de servicio.
                <br>
                <br>
                Ejemplos populares son: Google Docs, Salesforce, Dropbox, Gmail...
                <br>
                <p align="center">
                    <img src="assets/images/gmail-logo.jpg" class="img-responsive" alt="Gmail">
                <p align="center">Fig.1 - Gmail (Fuente: www.gmail.es).</p>
            </p>
            <h4>PaaS - Platform as a Service</h4>
            <p class="text-justify">
                Es el punto en donde los desarrolladores empezamos a tocar y desarrollar nuestras propias aplicaciones que se ejecutan en la nube. En este caso, nuestra única
                preocupación  es la construcción de nuestra aplicación, ya que la infraestructura nos la da la plataforma. Es un modelo que reduce bastante la complejidad a la hora
                de desplegar y mantener aplicaciones ya que las solciones PaaS gestionan automaticamente la escalabilidad usando más recursos si fuera necesario.
                <br>
                <br>
                Ejemplos populares: Google App Engine que permite desarrollar aplicaciones en Java o Python o Heroku que hace lo propio con Rails y Django.
            </p>
                <br>
                <p align="center">
                    <img src="assets/images/app-engine.png" class="img-responsive" alt="Gmail"></p>
                <p align="center">Fig.2 - Google App Engine (Fuente: myanmarhub).</p>

            <h4>IaaS - Infrastructure as a Service</h4>
            <p class="text-justify">
                Tendremos mucho más control que con el anterior modelo, aunque a cambio de eso tendremos que encargarnos de la gestión de infraestructura.

                El ejemplo perfecto es el proporcionado por <a href="http://aws.amazon.com/es/" target="_blank" title="Amazon Web Service">Amazon Web Service (AWS)</a>
                que nos provee de una serie de servicios como EC2 que nos permite manejar MV en la nube.
                <br>
            </p>

                <p align="center"><img src="assets/images/AWS.png" class="img-responsive" alt="AWS"></p>
                <p align="center">Fig.3 - Amazon Web Services (Fuente: Prodasoftware).</p>

            <p class="text-justify">
                La principal diferencia es que nos otros nos ocupamos de escalar nuestras aplicaciones.
                <br>
                <br>
                Ademas de AWS, otros ejemplos son <a href="http://www.rackspace.com/es/cloudRackspace" target="_blank" title="Rackspace Cloud">Rackspace Cloud</a> o <a href="http://www.vmware.com/es/products/vcloud-suite" target="_blank" title="vCloud">vCloud</a> de VMWare.
            </p>
        <br>
            <h4>Shopify</h4>
            <p class="text-justify">
                Shopify es un ejemplo de SaaS. Shopify es una solución eCommerce completa que permite la instalación de una tienda online para vender productos.
                Te permite organizar los productos que ponen a la venta, permite la personalización de la página, acepta el pago por tarjeta de crédito y realiza
                un seguimiento de los pedidos realizados.
            </p>

            <p align="center"><img src="assets/images/shopify2.png" class="img-responsive" alt="Shopify"></p>
            <p align="center">Fig. 4 - Shopify (Fuente: www.shopify.es).</p>

            <p class="text-justify">
                Características que hacen que Shopify sea una buena elección a la hora de elegir una solución eCommerce:
                <ul>
                    <li><strong>Seguridad y eficiencia.</strong></li>
                    <li><strong>Pone a disposición todas las prestaciones que una tienda online requiere.</strong></li>
                    <li><strong>Gran servicio al cliente, disponible 24/7.</strong></li>
                    <li><strong>Permite una gran personalización a la hora de crear una estrategia de marketing (creación de landing-pages,
                    emails, Adwords) además de permitir la insercion de tags en los titulos y en la metainformación de la página </strong></li>
                </ul>
        <br>
            <h4>Amazon Web Services</h4>
            <p class="text-justify">
                Amazon Webstore es un producto que permite a las compañias de todos los tamaños construir y operar en el mundo del eCommerce.
                <br>
                <br>
                Amazon Webstroe gestiona cada aspecto de ejecutar un negocio eCommerce en la nube:
            </p>
            <ul>
                <li>Diseño y merchandising.</li>
                <li>Gestión de catálogos e inventario.</li>
                <li>Gestión de pedidos.</li>
                <li>Compra y pago de pedidos (incluyendo protección contra el fraude).</li>
                <li>Servicio al cliente.</li>
            </ul>

            <p class="text-justify">
                Amazon Webstore combina las características y las funcionalidades que son necesarias para una rápida implementación y diseño con
                la capacidad de control de marca, de diseño, merchandising y experiencia del cliente. Para poder comprobar todos estos aspectos, Amazon
                nos ofrece la posibilidad de una prueba gratuita de 30 días que se puede comenzar en cualquier momento (incluyendo dominio propio).
            </p>

            <p align="center"><img src="assets/images/webStore.png" class="img-responsive" alt="Amazon WebStore Trial"></p>
            <p align="center">Fig. 6 - Amazon Web Store Trial(Fuente: Amazon Web Store).</p>

            <p class="text-justify">
                Para más información de por qué elegir Amazon Webstore, Amazon ha preparado un vídeo en el que muestra todas las prestaciones del servicio:
            </p>

            <div align="center">
                <iframe width="560" height="315" src="//www.youtube.com/embed/kNTpuMvZLUw" frameborder="0" allowfullscreen></iframe>
                <p align="center">Vídeo 1 - Amazon Web Store (Fuente: Amazon Web Store).</p>
            </div>

            <h2>2. Tiendas virtuales</h2>
            <h3>2.1 Gestores de contenidos específicos</h3>
            <p class="text-justify">
                Actualmente el 89% de las páginas de venta online que se realizan en todo el mundo son con éstas dos plataformas: Magento y Prestashop.
                Ya quedó en el olvido crear una web súper personalizada programada de principio a fin en php o HTML. Y sobre todo han quedado en un segundo plano
                otras plataformas como OS-Comerce o Zen-Cart debido a que profundizando hay muchas razones en cuanto a soporte y sencillez que los hacen sistemas menos recomendables.
            </p>
            <h4>Prestashop</h4>
            <p class="text-justify">
                Quedó en un principio más como un hobbie que como otra cosa. con las versiones 4.x Prestashop tomó mayor protagonismo e incluso en algunos frentes pretendía hacerle frente a Magento,
                algo que consiguió y superó con creces tras estrenar la 5.x con la que cumplía con todas las expectativas creadas y dejaba muy pocas coasas en el tintero.
                <br>
                <br>
                Algunas de sus mejores características son:
            </p>
            <ul>
                <li>Sistema muy sencillo de instalar.</li>
                <li>Las últimas versiones estables para producción han conseguido una potencia similar a la de Magento y además segura.</li>
                <li>Ocupa menos recursos de servidor, y hay menos restricciones para escoger el hosting.</li>
                <li>Posibilidad de Multitienda.</li>
                <li>Búsqueda por Ajax, si se quiere, al igual que el carrito de compra.</li>
                <li>Completamente personalizable en todos los sentidos.</li>
                <li>Una Comunidad muy activa y poblada, En inglés y en Fránces, y… En Español, aunque todavía el habla hispana está un paso por detrás.</li>
                <li>BackOffice muy sencillo, muy fácil de interpretar y utilizar.</li>
                <li>Velocidad de las páginas muy rápido.</li>
                <li>Los principales proveedores tienen módulos en Prestashop.</li>
                <li>Módulo SEO integrado muy bueno e intuitivo para definir, meta descripción,  meta título, palabras clave y url amigable.</li>
            </ul>

            <p align="center"><img src="assets/images/prestashop_logo.png" class="img-responsive" alt="Prestashop"></p>
            <p align="center">Fig. 7 - Prestashop (Fuente: http://www.snapconsulting.es/).</p>


            <h4>Magento</h4>
            <p class="text-justify">
                esde el principio Magento apostó por la Robustez, la seguridad, aunque eso implicase mayor dificultad de implantación, instalación, y manejo.
                Poco a poco Magento fue tomando fuerza como marca haciéndose un hueco importante entre los CMS para E-commerce.
                <br>
                <br>
                Algunas de sus mejores características son:
            </p>
            <ul>
                <li>Sistema  muy robusto y muy seguro.</li>
                <li>Personalización indefinida al milímetro.</li>
                <li>Sistema de compra más sencillo y menos estricto.</li>
                <li>El BackOffice es muy potente para realizar cualquier acción.</li>
                <li>Posibilidad de Multitienda.</li>
                <li>Soporte técnico disponible.</li>
                <li>Posible integración con ERP’s.</li>
                <li>Los principales proveedores ya tienen integración con Magento.</li>
                <li>Pasarelas de pago (cualquiera). Tras la compra por parte de Ebay Paypal toma especial importancia.</li>
            </ul>

            <p align="center"><img src="assets/images/magento_logo.png" class="img-responsive" alt="Magento"></p>
            <p align="center">Fig. 8 - Magento (Fuente: opensource-studio.net).</p>

            <h4>Conclusión</h4>
            <p class="text-justify">
                Para la creación de una tienda que no está pensada para grandes volúmenes de transacciones, en otras palabras, un negocio pequeño,
                recomendaría el uso de Prestashop ya que cubre perfectamente las necesidades de un negocio de ese tamaño ya que se diseña con rapidez,
                a un precio razonable (en tema de módulos y temas) y que no produzca problemas técnicos.
            </p>

            <h2>2.2 Gestores de contenido (CMS) generales</h2>
            <p class="text-justify">
                Totalmente recomendables para el desarrollo de una solución eCommerce ya que hay un buen soporte a través de módulos,
                plugins y temas desarrollados específicamente para soluciones eCommerce.

                Eesta no sería una de las primeras opciones ya que existiendo soluciones creadas especificamente para las
                actividades de eCommerce como las que se vieron en el apartado anterior, la instalación de plugins, módulos y temas que pueden
                ocasionar problemas de compatibilidad tanto con la instalación del propio CMS como entre ellos.
            </p>

            <h3>Joomla</h3>
            <p class="text-justify">
                Joomla es gestor de contenido que por si solo no ofrece funcionalidades para la creación de una tienda virtual, por lo que requiere de
                plugins y módulos para permitirlo. Uno de las soluciones más populares es VirtueMatt.
                <br>
                <br>
                VirtueMart es una solución eCommerce de código abierto para el gestor de contenidos Joomla. Puede tomar la forma de cátalogo de productos
                o de carrito de compra. Tanto VirtueMart como Joomla están programados en PHP por lo que funcionan perfectamente en un entorno PHP/MySQL.
                Únicamente es necesario descargar la última versión publicada de Joomla y el paquete de VirtueMart para la versión correspondiente del gestor
                de contenidos.
            </p>

            <p align="center"><img src="assets/images/22virtue22.jpg" class="img-responsive" alt="Joomla & VirtueMart"></p>
            <p align="center">Fig. 9 - Joomla & VirtueMart (Fuente: http://www.akamaras.com/).</p>

            <h3>Drupal</h3>
            <p class="text-justify">
                Drupal Commerce es un software de integración eCommerce revolucionario, donde el contenido y la comunidad crean experiencias únicas para los usuarios
                Con Drupal Commerce, los minoristas online tienen una plataforma potente y la flexibilidad de integrar una rica experiencia de comercio electrónica en su entorno.

                Drupal Commerce provee la estructura necesaria para practicar el eCommerce sin valorar las decisiones del negocio.
            </p>
            <ul>
                <li>Basado en contenido</li>
                <li>Flexible</li>
                <li>Fácil de usar</li>
                <li>Open Source</li>
                <li>Escalable</li>
            </ul>

            <p align="center"><img src="assets/images/drupal_new.png" class="img-responsive" alt="Drupal Commerce"></p>
            <p align="center">Fig. 10 - Drupal Commerce (Fuente: lh6.googleusercontent.com).</p>


            <h3>Blogs</h3>
            <p class="text-justify">
                Blogs nacen como mecanismo para expresar una afición personal (sonido válvulero de Whiteboxer Audio).
                <br>
                Muchos blogs comienzan a despertar el interés de la gente y surge la idea de convertir en negocio el objeto del blog
                (desarrollar equipos de válvulas): Blog-Commerce; o acompañar la tienda con un blog donde se proporciona información útil.
                <br>
                Blogger, WordPress permiten la venta a través de sus blogs, para ello lo más sencillo y rápido es emplear widgets de
                terceros que nos permitan construirnos nuestro formulario de venta, reserva, promoción o minitienda.
                <br>
                <br>

                <p align="center"><img src="assets/images/blogs.jpg" class="img-responsive" alt="Blogs"></p>
                <p align="center">Fig. 11 - Blogs (Fuente: documania20.wordpress.com).</p>
            </p>

            <p class="text-justify">
                <strong>Blogs + Templates que permiten eCommerce:</strong> Esta solución de eCommerce normalmente viene acompañada de otra solución ya que esta se orienta más al marketing de contenidos, es decir,
                su misión en la gran mayoría de casos es la de redirigir el tráfico hacia la página web principal o mejorar el posicionamiento en los buscadores.

                Esta siempre es una buena idea para poder atraer a un mayor número de clientes potenciales que visiten el blog ofreciendo algún tipo de información
                adicional acerca de las actividades del negocio o directamente por la información descriptiva de los productos que se venden y enlazarlo con el producto en la tienda.

                Tanto Wordpress como Blogger son opciones válidas para este fin.
            </p>

            <br>

            <h3>DIY: Do It Yourself</h3>
            <p class="text-justify">
                Esta solución requiere un conocimiento más profundo acerca de las tecnologías existentes a la hora de la programación
                y diseño de una página web, además claro está del enfoque que se le dé al negocio, cosa que hay que hacer en todas las
                soluciones eCommerce, no solo en esta en particular.

                Por la parte de la programación, habría que elegir un lenguaje que se adaptara a las necesidades del negocio como que
                funcionalidades se van a implementar, que actividades se tienen intención de desarrollar en la web, etc. Además, hay que
                tener presente una serie de características referentes a la calidad del servicio que el cliente espera una vez accede a
                nuestra web o servicio escalabilidad, seguridad, disponibilidad, eficiencia, etc.

                Por otra parte, el diseño es totalmente personalizable, no estamos atados a lo definido por el tema que en otras soluciones
                eCommerce delimita en gran medida las modificaciones visuales que podemos realizar en nuestra página.

                <p align="center"><img src="assets/images/AngularJS-large.png" class="img-responsive" alt="AngularJS"></p>
                <p align="center">Fig. 12 - AngularJS (www.angularjs.org).</p>

            </p>

            <h2>3. Social Commerce</h2>
            <p class="text-justify">
                El social commerce es la fórmula que se ofrece para atender a un público que demanda cada vez mas información y
                busca ofertas personalizadas: facilitando las herramientas necesarias para la interacción marca-usuario y usuario-usuario.
                <br>
                Introduce las redes sociales en la compra y venta online de productos y servicios. Las plataformas que mejor
                permiten desarrollar social commerce son: Facebook, Pinterest, Twitter.
                <br>
                <br>
                Ventajas del <strong>Social Commerce:</strong>
            <ul class="text-justify">
                <li><strong>Visibilidad: </strong>gran número de usuarios, con una capacidad de difusión ilimitada. Si un
                    producto gusta será compartido, generando contenido.</li>
                <li><strong>Compromiso: </strong>fomenta la relación comprador-marca/empresa, aumentando el compromiso en ambas  direcciones.</li>
                <li><strong>Personalización: </strong>la segmentación nos permite llevar productos personalizados, qué ofrecer a quién.</li>
                <li><strong>Confianza: </strong>una recomendación recibida del entorno aumenta la confianza.</li>
                <li><strong>Fidelización: </strong>se premia a los seguidores con descuentos o con promociones que solo están disponibles a través de enlaces
                    colocados en las redes sociales que llevan a la página de la tienda.</li>
                <li><strong>Facebook: </strong>Cuenta con la información y tecnologías para personalizar al máximo la
                    experiencia de compra en todas sus fases; desde la presentación de productos, hasta el pago.
                    Su interés e inversión sigue creciendo en esta dirección pensando en que en un futuro gran parte
                    de las compras online se harán por este canal.</li>
                <li><strong>Pinterest: </strong>Permite una magnífica visualización del producto y organización según categorías,
                    además de introducir etiquetas de precio. Sirven para “vender” el producto sobre todo visualmente y enlazar
                    con la tienda online para realizar la transacción.</li>
                <li><strong>Twitter: </strong>Permitir a los comercios ofrecer sus productos y servicios directamente desde un tuit.</li>
            </ul>
            </p>
            <h3>3.1 f-Commerce</h3>
            <p class="text-justify">
            <ul>
                <li>Aplicaciones que te permiten crear una vidriera (tipo catálogo) en Facebook pero la operación de venta se hace fuera.</li>
                <li>Aplicaciones que permiten crear una tienda completa en Facebook.</li>
                <li>Aplicaciones que integran e-commerce con Facebook.</li>
            </ul>

            <p align="center"><img src="assets/images/Facebook512.png" class="img-responsive" alt="Facebook"></p>
            <p align="center">Fig. 13 - Facebook (Fuente: https://developers.facebook.com/)</p>

            </p>

            <h3>3.2 Pinterest</h3>
            <p class="text-justify">
                Pinterest se está convirtiendo en la fuente más influyente de tráfico de referencia del comercio electrónico social.
                Es un gran tablón donde colgar imágenes y vídeos que compartir con todo el mundo (cuenta con los Rich Pins). Existe un botón llamado
                “Pin It” con el que se motiva a las personas a pinear lo que les ha gustado, guardándolo en sus respectivos tablones ya sea para
                compartirlo o para adquirirlo posteriormente. Se puede subir imágenes de las webs, cada imagen tiene asociada su url por lo que
                pueden enlazar a la web de la tienda, sirve para enlazar imágenes de productos con tienda online.
            </p>

            <p align="center"><img src="assets/images/pinterest_logo.png" class="img-responsive" alt="Pinterest"></p>
            <p align="center">Fig. 14 - Pinterest (Fuente: https://business.pinterest.com/es/brand-guidelines).</p>

            <h3>3.3 Twitter</h3>
            <p class="text-justify">
                Twitter quiere convertirse en una plataforma para EC, tiene muchas características que lo hacen especialmente interesante:
                movilidad, la personalización y la geolocalización.
                <br>
                Actualmente se emplea en marketing, para comunicar información de la empresa (de manera divertida).
            </p>

            <p align="center"><img src="assets/images/twitter.png" class="img-responsive" alt="Twitter"></p>
            <p align="center">Fig. 15 - Twitter (Fuente: https://about.twitter.com/es/press/brand-assets).</p>

            <p class="text-justify">
                <b>Desventajas </b>del Social Commerce:
            <ul>
                <li>Uso en un propósito distinto al que originalmente han tenido esas plataformas, con dos consecuencias: no están preparadas
                    y rechazo por parte de los usuarios.</li>
                <li>No existe la mejor forma, todo depende de lo que se necesite, del tipo de negocio, del punto de partida y los objetivos que se pretenden alcanzar.</li>
            </ul>
                </p>

            <h2>4. Posicionamiento SEO y Marketing</h2>
            <p class="text-justify">
                Una vez se ha seleccionado la plataforma sobre la que se desarrollarán las actividades del eCommerce, el siguiente paso lógico es la de tomar medidas para
                que el portal web tenga una buena visibilidad lo que se traduciría como una mayor mayor actividad en la plataforma y en compradores potenciales.
            </p>
            <p class="text-justify">
                Existen muchísimas técnicas, trucos y factores dentro del mundo del SEO que nos ayudan a mejorar el posicionamiento de nuestro portal web en la búsqueda de un usuario, el uso de ellas
                dependerá del esfuerzo y el objetivo que tengamos en mente para nuestra web
                <br>
                Algunas de estas características están integradas en las plataformas donde se contruyen los portales web o están disponibles para su compra pero otros servicios de
                posicionamiento SEO son proporcionados por empresas que se dedican especificamente a ello como pueden ser Google, SEO SOLUTIONS, SIDN o Glogal SEO entre muchas otras.
            </p>

                <p align="center"><img src="assets/images/flor-seo.png" class="img-responsive" alt="Twitter"></p>
                <p align="center">Fig. 16 - SEO (Fuente: www.jmwebs.net).</p>

            <p class="text-justify">
                Uno de los factores más importantes a la hora de aumentar las visitias o el tráfico hacía nuestra web es la elección correcta de las <b>palabras clave</b>. Un error
                muy común es elaborar secciones, escribir artículos y crear páginas orientads a tus intereses, sin tener en cuenta los interes de tu público objetivo, queienes son
                realmente los que va a aumentar tu tráfico.
            </p>

            <p class="text-justify">
                Para conocer las distintas opciones de las que disponemos y como combinarlas para obtener el mayor alcance posible en la visibilidad de nuestro sitio, existe
                una sección dedicada exclusivamente a los pasos que hay que tomar para implementar satisfactoriamente una solución de posicionamiento SEO en nuestro portal web.

                Para saber más acerca del posicionamiento SEO y de sus técnicas, visita la sección dedicada a este tema <p><a class="btn btn-default" href="#/units/unit3" role="button">Ir a Posicionamiento SEO »</a></p>
            </p>

            <blockquote>DEJA DE ESCRIBIR LO QUE A TI TE INTERESA Y ESCRIBE LO QUE LE INTERESA A LOS DEMÁS</blockquote>


            <h2>Estado Actual - Ejemplos</h2>
            <p class="text-justify">
                A continuación se han seleccionado una serie de portales web en los cuales se han aplicado distintas soluciones eCommerce dependiendo de las características
                del negocio que cada portal web soporta distinguiendo fases según las operaciones que se realizan en él. Algunas únicamente están presentes en la web mostrando
                los productos y otras soportan varios modos de tienda además de integración con redes sociales y blogs.
            </p>

            <h3>Segunda Etapa: Presencia en la web</h3>
            <p class="text-justify">
                Surge en 1993 con la aparición del primer navegador, NCSA Mosaic. El objetivo fundamental de esta fase es la de
                parecer en la web, tener la imagen de una empresa allí. No había BBDD ni nada parecido, únicamente el folleto
                de la empresa. De esta forma me distingo del resto de las empresas.

                <br>
                <br>

                Ejemplo: Dulcesol.
            </p>

            <h3>Tercera Etapa: Tienda en línea y las .com</h3>
            <p class="text-justify">
                Ya no vale estar solo en la web, si no que quiero vender en la web. La tecnología ya lo permite, ya que existen
                los catálogos online, bases de datos, pasarelas de pago para pagar por Internet.
                Con respecto a las .com, empiezan a aparecer empresas cuyo negocio es la propia web, solamente venden ahí (sin tienda física).

                Un ejemplo de tienda en línea es Pizza Hut, considerada como la primera tienda online, donde se podían hacer
                pedidos a través de su web. Otro ejemplo de .com es Amazon, considerada como la primera en su género.

                <br>
                <br>

                Ejemplo: Nakasha-spain.
            </p>

            <h3>Cuarta Etapa: Centros Comerciales en Línea</h3>
            <p class="text-justify">
                Preocupación por la gente que quiere vender pero no tiene una tienda. Surgen las ventas en línea o los portales
                de venta en línea. El proveedor en este caso aoporta toda la infraestructura tecnológica para empresas que
                quisieran montar su tienda en Internet pero sin la capacidad o intención de crear la suya propia.

                <br>
                <br>

                Ejemplos: Pixmania, Todocoleccion.
            </p>

            <h3>Quinta Etapa: Integración</h3>
            <p class="text-justify">
                La idea es la de integrar la tienda web con la tienda física. Aprovechar las ventajas que nos brinda la tienda
                online (estadísticas, BigData) para tomar decisiones que ayuden al negocio. Se ponen en marcha estrategias de negocio propias para la web.
                <br>
                <br>

                El ejemplo que mejor partido saca a este tipo de tecnologías es Zara, el cual tiene una maquinaria por detrás
                que permite controlar cada aspecto de su producción y distribución (que tipo de ropa producir para un país determinado,
                que productos se venden mejor, en que fechas se producen picos, etc.)

                <br>

            <ol>
                <li>Alcance de un mercado más amplio.</li>
                <li>Capacidad de llegar a mercados especializados.</li>
                <li>24 horas al día, 7 días a la semana, los 365 días al año.</li>
                <li>Capital e inventario mínimo.</li>
                <li>Reducción de gastos en Servicio y Logística.</li>
                <li>Precios reducidos.</li>
                <li>Permite proporcionar información libre de error y actualizada.</li>
                <li>Ofrece mejor servicio.</li>
            </ol>

            Ejemplo: Aceros-de-Hispania, con cierta presencia en redes sociales.

            </p>

            <h3>Sexta Etapa: Social Commerce & m-Commerce</h3>
            <p class="text-justify">
                La Web 2.0 ha dado un valor añadido a la forma de llevar a cabo el comercio electrónico, llegando a los clientes
                de una manera más directa y con mayor contacto. Esto se puede considerar una aportación reciente a las aplicaciones de negocio online.

                <br>
                <br>

                El aumento en la adopción de los dispositivos móviles por parte de la sociedad y las previsiones del aumento de
                las actividades comerciales realizadas con dispositivos móviles, ha conducido a que muchas empresas quieran crear
                apps (aplicaciones) para iPhone, BlackBerry, Android... de sus tiendas online.

                <br>
                <br>

                Ejemplo: Todocolección

            </p>
        </div>
        <div class="col-md-4">
            <div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
                <div class="list-group">
                    <a class="list-group-item">1. Maneras de vender</a>
                    <a class="list-group-item">2. Tiendas Virtuales</a>
                    <a class="list-group-item">3. Social Commerce</a>
                    <a class="list-group-item">4. Posicionamiento SEO</a>
                    <a class="list-group-item">5. Métodos de pago</a>
                    <a class="list-group-item">6. Aspectos legales</a>
                </div>
            </div>
        </div>
    </div>
</div>