<div ng-controller="ExampleController">
    <form>
        Name:
        <input type="text" ng-model="user.name" ng-model-options="{ updateOn: 'blur' }" /><br />
        Other data:
        <input type="text" ng-model="user.data" /><br />
    </form>
    <pre>username = "{{user.name}}"</pre>
    <pre>userdata = "{{user.data}}"</pre>
</div>

<style type="text/css">
    .css-form input.ng-invalid.ng-dirty {
        background-color: #FA787E;
    }

    .css-form input.ng-valid.ng-dirty {
        background-color: #78FA89;
    }
</style>