<div class="jumbotron">
    <div class="container">
        <h1>Comercio Electrónico</h1>
        <p>Asignatura de Ingeniería Informática</p>
        <br>
        <p>ESI - UCLM Ciudad Real</p>
    </div>
</div>

    <div class="container">
        <div class="list-group">
            <a href="#/units/unit1" class="list-group-item">
                <h4 class="list-group-item-heading">Introducción al eCommerce</h4>
                <p class="list-group-item-text">Terminos y principios que definen el eCommerce</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#/units/unit2" class="list-group-item">
                <h4 class="list-group-item-heading">Infraestructura del eCommerce</h4>
                <p class="list-group-item-text">Herramientas para la implementación de soluciones eCommerce</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#/units/unit4" class="list-group-item">
                <h4 class="list-group-item-heading">Métodos de pago y legislación</h4>
                <p class="list-group-item-text">Como pagar por Internet y cumplir la legislación vigente</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#/units/unit3" class="list-group-item">
                <h4 class="list-group-item-heading">Posicionamiento SEO</h4>
                <p class="list-group-item-text">Herramientas para la implementación de soluciones eCommerce</p>
            </a>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <h2>Que aprenderás</h2>
                <p class="text-justify">
                    En este trabajo aprenderás sobre el nacimiento del comercio electrónico y sus bases, que opciones tienes a tu disposición
                    si quieres montar un portal para vender tus productos en Internet y que aspectos vas a tener que trabajar para tener
                    éxito en tu aventura empresarial.
                </p>
            </div>
            <div class="col-lg-4">
                <h2>Por dónde empezar</h2>
                <p class="text-justify">
                    No hay un orden concreto en el que tengas que comenzar a navegar por el contenido. Si tu intención es montar una tienda virtual puedes ir a
                    "Infraestructura del eCommerce" o si tienes problemas con la visibilidad de tu página puedes ir a "Posicionamiento SEO".
                </p>
            </div>
        </div>
    </div>



    <hr>
    <footer class="container">
        <p>Javier García Ceca, 2014</p>
    </footer>


    <!--<div class="container">
        &lt;!&ndash; Example row of columns &ndash;&gt;
        <div class="row">
            <div class=".col-xs-6 .col-sm-4">
                <h2>Introducción al eCommerce</h2>
                <p>Terminos y principios que definen el eCommerce</p>
                <p><a class="btn btn-default" href="#/units/unit1" role="button">Leer más »</a></p>
            </div>
            <div class=".col-xs-6 .col-sm-4">
                <h2>Infraestructura del eCommerce</h2>
                <p>Herramientas para la implementación de soluciones eCommerce</p>
                <p><a class="btn btn-default" href="#/units/unit2" role="button">Leer más »</a></p>
            </div>
            <div class=".col-xs-6 .col-sm-4">
                <h2>Posicionamiento SEO</h2>
                <p>Métodos para mejorar el posicionamiento de nuestro sitio en Internet</p>
                <p><a class="btn btn-default" href="#/units/unit3" role="button">Leer más »</a></p>
            </div>
            <div class=".col-xs-6 .col-sm-4">
                <h2>Métodos de pago y legislación</h2>
                <p>Como pagar por Internet y cumplir la legislación vigente</p>
                <p><a class="btn btn-default" href="#/units/unit4" role="button">Leer más »</a></p>
            </div>

        </div>

        <hr>

        <footer>
            <p>© Company 2014</p>
        </footer>
    </div>-->

</div>