<div class="jumbotron">
    <div class="container">
        <h1>Comercio Electrónico</h1>
        <p>Asignatura de Ingeniería Informática</p>
        <br>
        <p>ESI - UCLM Ciudad Real</p>
    </div>
</div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Tema 1 - Introducción al eCommerce</h2>
                <p>Terminos y principios que definen el eCommerce</p>
                <p><a class="btn btn-default" href="#/units/unit1" role="button">Leer más »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Tema 2 - Infraestructura del eCommerce</h2>
                <p>Herramientas para la implementación de soluciones eCommerce</p>
                <p><a class="btn btn-default" href="#/units/unit2" role="button">Leer más »</a></p>
            </div>
        </div>

        <hr>

        <footer>
            <p>© Company 2014</p>
        </footer>
    </div>
</div>