<div class="container">
    <div class="page-header">
        <h1>Índice de temas <small>Contenido de Comercio Electrónico</small></h1>
    </div>


    <div class="list-group">
        <a href="#/units/unit1" class="list-group-item">
            <h4 class="list-group-item-heading">Tema 1 - Introducción al Comercio Electrónico</h4>
            <p class="list-group-item-text">Primeros pasos hacia el eCommerce</p>
        </a>
        <a href="#/units/unit2" class="list-group-item">
            <h4 class="list-group-item-heading">Tema 2 - ...</h4>
            <p class="list-group-item-text">Resumen</p>
        </a>
        <a href="#/units/unit3" class="list-group-item">
            <h4 class="list-group-item-heading">Tema 3 - ...</h4>
            <p class="list-group-item-text">Resumen</p>
        </a>
        <a href="#/units/unit4" class="list-group-item">
            <h4 class="list-group-item-heading">Tema 4 - ...</h4>
            <p class="list-group-item-text">Resumen</p>
        </a>
    </div>
</div>